/* ------------------------------------------------------------ *\
Accordion
\* ------------------------------------------------------------ */

.accordion {
  display: flex;
  justify-content: space-between;

  @include breakpoint-down(tablet) {
    display: block;
  }

  .accordion__head {
    display: flex;
    margin-bottom: 3.4rem;

    @include breakpoint-down(tablet) {
      padding: 1.2rem 0;
      justify-content: space-between;
      align-items: center;
      border-bottom: .1rem solid $c-mediumdarkbeige;
      cursor: pointer;
      margin-bottom: 0;
    }
  }

  .accordion__head h5 {
    font-size: 2rem;
    color: $c-orange;
    margin: 0;

    @include breakpoint-down(tablet) {
      font-size: 1.8rem;
    }
  }

  .accordion__head figure {
    display: none;
    transform: rotate(180deg);
    transition: transform .3s;

    @include breakpoint-down(tablet) {
      display: block;
    }
  }

  .accordion__section.is-current .accordion__head figure {
    transform: rotate(0);
  }
  
  .accordion__section {
    width: 31%;
    
    @include breakpoint-down(tablet) {
      width: 100%;
    }
  }

  .accordion__body {
    @include breakpoint-down(tablet) {
      display: block;
    }
  }

  .accordion__content {
    @include breakpoint-down(tablet) {
      padding: 2rem 0;
    }
  }
}


/* ------------------------------------------------------------ *\
Accordion menu
\* ------------------------------------------------------------ */

.accordion-menu {
  .accordion__head {
    margin-bottom: 2rem;

    @include breakpoint-down(tablet) {
      margin-bottom: 0;
    }
  }
}


/* ------------------------------------------------------------ *\
Accordion nav
\* ------------------------------------------------------------ */

.accordion-nav {
  position: relative;

  .accordion__section {
    max-width: 17rem;
    margin: 0 auto;

    @include breakpoint-down(mobile) {
      max-width: none;
    }
  }

  .accordion__section.is-current .accordion__head figure {
    transform: rotate(0);
  }

  .accordion__body {
    padding: 2.4rem 0;

    @include breakpoint-down(mobile) {
      padding: 2.4rem 0 .5rem;
    }
  }

  .accordion__head {
    display: flex;
    height: 100%;
    cursor: pointer;

    @include breakpoint-down(mobile) {
      justify-content: space-between;
    }
  }

  .accordion__head h5 {
    font-size: 2rem;
    margin: 0;
    font-size: 1.8rem;
    color: $c-extradarkbeige;
    font-weight: 700;
  }

  .accordion__head figure {
    margin-left: 3rem;
    transform: rotate(180deg);
    transition: transform .3s;
  }

  .accordion__section + .accordion__section {
    padding-left: 2rem;
  }
}


/* ------------------------------------------------------------ *\
Accordion find
\* ------------------------------------------------------------ */

.accordion-find {
  .accordion__head {
    display: flex;
    align-items: center;
    min-height: 8rem;
    padding: 1.6rem .6rem;
    transition: background-color .3s ease, color .3s, padding .3s ease;
    cursor: pointer;
    
    svg path {
      transition: stroke .3s;
    }
    
    &:hover {
      svg path {
        stroke: $c-orange;
      }  
      
      figure {
        margin-left: 2rem;
      }
    }

    @include breakpoint-down(small-desktop) {
      justify-content: space-between;
    }
  }

  .accordion__head h6 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0;
  }

  .accordion__head h6 span + span {
    display: none;
  }

  .accordion__head figure {
    margin-left: 2.4rem;
    display: flex;
    align-items: center;
    transition: margin .3s;
  }

  .accordion__section.is-current .accordion__head {
    margin-bottom: 2rem;
    color: $c-orange;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .accordion__section.is-current .accordion__head svg path {
    stroke: $c-orange;
  }

  .accordion__section.is-current .accordion__head figure {
    transform: rotate(180deg);
    margin: 0 3.3rem 0 0;
  }

  .accordion__section.is-current .accordion__head h6 span:first-child {
    display: none;
  }

  .accordion__section.is-current .accordion__head h6 span + span {
    display: block;
  }

  .accordion__section {
    border-top: .2rem solid $c-beige;
    transition: border .3s ease;
    
    &:first-child {
      border-top: none;
    }
    
    &:hover {
      border-color: transparent;
      
      &+ .accordion__section {
        border-color: transparent;  
      }
      
      .accordion__head {
        color: $c-orange;
        background-color: $c-extralightbeige;
        padding: 1.6rem;
        border-radius: .8rem;
      }  
    }
    
    &.is-current {
      border-top: none;
      
      .accordion__head {
        border-bottom: .2rem solid $c-beige;
        background-color: transparent;
        border-radius: 0;
        padding: 1.6rem .6rem;
      }
      
      &:hover {
        border-color: $c-beige;  
      }
    }
  }
}

.accordion-find.open {
  .accordion__section {
    display: none;
  }

  .accordion__section.is-current {
    display: block;
  }
}

