/* ------------------------------------------------------------ *\
Button
\* ------------------------------------------------------------ */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  transition: color .3s ease, background .3s ease, border .3s ease;
  
  figure svg {
    display: block;
  }
  
  &-rounded {
    min-height: 5.6rem;
    padding: 0 3rem;
    font-weight: 700;
    font-size: 1.6rem;
    border: .1rem solid transparent; 
    border-radius: 2.8rem;
    
    &--outline {
      border-color: $c-orange;
      color: $c-orange;
      background-color: $c-extralightbeige;
      
      &:focus {
        color: $c-orange !important;  
      }
      
      &:hover {
        background-color: $c-darkorange;
        border-color: $c-darkorange;
        color: $c-white !important;
        
        &:focus {
          color: $c-white !important;  
        }
      }
    }
    
    &--trans {
      padding: 0 2.4rem;
      border-color: transparent;
      color: $c-offblack;
      background-color: transparent;
      
      &:hover {
        background-color: $c-orange;
        border-color: $c-orange;
        color: $c-white !important;
      }
    }
    
    &--white {
      background-color: $c-white;
      border-color: $c-white;
      color: $c-orange;
      
      &:focus {
        outline-color: $c-white;
        color: $c-orange !important;
      }

      &:hover {
        background-color: $c-darkorange;
        border-color: $c-darkorange;
        color: $c-white;
        
        &:focus {
          color: $c-white !important;
        }
      }
    }
    
    &--white-outline {
      background-color: transparent;
      border-color: $c-white;
      color: $c-white;
      
      &:focus {
        outline-color: $c-white;
        color: $c-white !important;
      }

      &:hover {
        background-color: $c-darkorange;
        border-color: $c-darkorange;
        color: $c-white;
        
        &:focus {
          color: $c-white !important;
        }
      }
    }
    
    &--orange {
      background-color: $c-orange;
      border-color: $c-orange;
      color: $c-white;
      
      &:focus {
        color: $c-white !important;
      }

      &:hover {
        background-color: $c-darkorange;
        border-color: $c-darkorange;
        color: $c-white !important;
      }
    }
    
    &--search {
      background-color: $c-white;
      font-size: 2rem;
      min-height: 7rem;
      border-radius: 3.6rem;
      padding: 0 3.6rem;
      border-color: $c-mediumdarkbeige;
      box-shadow: 0 .8rem 1.6rem rgba(0, 0, 0,.05);

      figure {
        margin-right: 2.6rem;
      }

      path,
      circle {
        transition: stroke .3s;
      }
      
      &:focus {
        color: $c-offblack !important;
      }

      &:hover {
        background-color: $c-orange;
        color: $c-white !important;
        box-shadow: none;
        border-color: $c-orange;

        path,
        circle {
          stroke: $c-white;
        }
        
        &:focus {
          color: $c-white !important;
        }
      }
    }

    @include breakpoint-down(mobile) {
      min-height: 4.4rem;
      min-width: 0;
      padding: 0 2.4rem;
      font-size: 1.4rem;
    }
  }
}
