/* ------------------------------------------------------------ *\
	Btn chat
\* ------------------------------------------------------------ */

.btn-chat {
	max-width: 8rem;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0 .4rem 2.4rem rgba(0, 0, 0, .1);
	transition: opacity .3s;
}

.btn-chat:hover {
	opacity: .7;
}
