/* ------------------------------------------------------------ *\
Callout basic
\* ------------------------------------------------------------ */

.callout--basic {
  position: relative;
  color: $c-white;
  margin: 8rem 0 4rem;
  overflow: hidden;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%; height: 100%;
    background: $c-orange;
  }

  @include breakpoint-down(tablet) {
    margin: 11rem 0 4rem;
  }

  @include breakpoint-down(mobile) {
    margin: 2.2rem 0;
    padding: 12rem 0 13rem;
  }

  .callout__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .callout__background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .callout__element {
    max-width: 46.5rem;
    position: absolute;
    top: 0;
    left: 7rem;
    opacity: .25;
    mix-blend-mode: multiply;

    @include breakpoint-down(tablet) {
      left: -8rem;
      bottom: 0;
      top: auto;
    }

    @include breakpoint-down(mobile) {
      left: -18rem;
    }
  }

  .callout__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55rem;
    padding: 0 12.5rem;

    @include breakpoint-down(tablet) {
      padding: 0;
      min-height: 65rem;
    }

    @include breakpoint-down(mobile) {
      min-height: 0;
      flex-wrap: wrap;
    }
  }

  .callout__entry {
    font-size: 2.8rem;
    padding-right: 1rem;

    @include breakpoint-down(xlarge-desktop) {
      padding-right: 3rem;
    }

    @include breakpoint-down(tablet) {
      max-width: none;
      width: 63%;
    }

    @include breakpoint-down(mobile) {
      width: 100%;
      font-size: 2rem;
      padding: 0;
    }
  }

  .callout__entry p {
    line-height: 1.8;
    
    a {
      text-underline-offset: .4rem;
      text-decoration: underline;
      
      &:hover {
        color: $c-white;
      }
    }
  }

  .callout__actions {
    @include breakpoint-down(mobile) {
      margin-top: 4rem;
    }
  }
}
