/* ------------------------------------------------------------ *\
Cursors
\* ------------------------------------------------------------ */

a.video-cursor-hover {
  position: relative;
  display: block;
  
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 50%; left: 50%;
    width: 8rem; height: 8rem;
    background: url(../img/svg/video-hover.svg) no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease;
  }
}

@media (hover: hover) {
  .standard-cursor {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    width: 8rem; height: 8rem;
    background: rgba($c-offblack, .1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(.6);
    opacity: 1;
    transition: all .02s ease, transform .4s ease;

    .video-cursor-hover--on & {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .video-cursor {
    position: fixed;
    z-index: 10000;
    pointer-events: none;
    width: 12rem; height: 12rem;
    background: url(../img/svg/video-hover-text.svg) no-repeat center;
    background-size: contain;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.6);
    transition: all .02s ease, opacity .3s ease, transform .4s ease;

    .video-cursor-hover--on & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  a.video-cursor-hover {
    cursor: none;
    
    .video-cursor-hover--on & {
      &::before {
        opacity: 0;
      }
    }

    .no-js & {
      cursor: pointer;
    }
  }
  
  .slider-cursor {
    position: fixed;
    z-index: 10000;
    pointer-events: none;
    width: 8rem; height: 8rem;
    background: url(../img/svg/slider-hover.svg) no-repeat center;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 1em 2.5em -.5em rgba($c-offblack, 0.25);
    transform: translate(-50%, -50%) scale(.4);
    opacity: 0;
    transition: all .02s ease, opacity .3s ease, transform .4s ease;

    .slider-cursor-hover--on & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }

    .slider-cursor-hover--on.slider-cursor-prev & {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1) rotate(-180deg);
    }
  }
}