/* ------------------------------------------------------------ *\
Footer
\* ------------------------------------------------------------ */

.footer {
  overflow: hidden;
  padding: 2.4rem 0 0;

  a {
    border-radius: .5rem;
  }

  @include breakpoint-down(mobile) {
    padding: 3rem 0;
  }

  .footer__logo {
    max-width: 20rem;
    margin-bottom: 2rem;
  }

  .footer__list--alt {
    padding-left: 5.4rem;

    @include breakpoint-down(tablet) {
      padding: 0;
    }
  }

  .footer__list h6 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.4rem;

    @include breakpoint-down(mobile) {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
    }
  }

  .footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.5rem;

    @include breakpoint-down(tablet) {
      flex-wrap: wrap;
      padding-left: 6rem;
      margin-bottom: 5.5rem;
    }

    @include breakpoint-down(mobile) {
      padding: 0;
    }

    @include breakpoint-down(mobile) {
      margin-bottom: 4.5rem;
    }
  }

  .footer__socials {
    margin-top: 4.5rem;

    @include breakpoint-down(mobile) {
      margin-top: 3.5rem;
    }
  }

  .footer__aside {
    font-size: 1.5rem;
    padding: 2.8rem 5rem;
    position: relative;
    background-color: #F7F4F0;

    @include breakpoint-down(mobile) {
      padding: 2.2rem 0 8.2rem;
    }

    &:before {
      content: '';
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: #F7F4F0;
      transform: translateX(-50%);
    }
  }

  .footer__group + .footer__group {
    padding-top: 3rem;

    @include breakpoint-down(xlarge-desktop) {
      padding-left: 2rem;
    }

    @include breakpoint-down(tablet) {
      padding: 3rem 0 0 0;
    }

    @include breakpoint-down(mobile) {
      padding: 3.5rem 0 0 0;
    }
  }

  .footer__group {
    @include breakpoint-down(tablet) {
      width: 50%;
    }

    @include breakpoint-down(mobile) {
      width: 100%;
    }
  }

  .footer__group--alt .footer__logo {
    @include breakpoint-down(tablet) {
      margin-left: -5.5rem;
    }

    @include breakpoint-down(mobile) {
      margin-left: 0;
    }
  }

  .footer__group:last-child {
    @include breakpoint-down(tablet) {
      width: 100%;
      padding: 0;
      margin-top: 6rem;
    }

    @include breakpoint-down(mobile) {
      margin: 0;
      padding-top: 3.3rem;
    }
  }

  .footer__aside-inner {
    position: relative;
  }

  .footer__entry {
  line-height: 1.6;

    @include breakpoint-down(mobile) {
      font-size: 1.4rem;
    }
  }

  .footer__copyright {
    margin-top: 2rem;
  }
}

.eit-non-blocks .footer {
  background-color: $c-white;
}

.eit-non-blocks .footer__list .list-about li a {
  background: none !important;
  color: $c-orange !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  text-decoration: none !important;
}

.eit-non-blocks .footer__list .list-about li a:hover {
  text-decoration: underline !important;
}

.eit-non-blocks footer a:focus,
.eit-non-blocks footer a:visited:not(.button) {
  color: $c-extradarkbeige !important;
}

.eit-non-blocks .footer__list .list-basic a {
  color: $c-extradarkbeige;
  font-weight: 500 !important;
}

.eit-non-blocks .footer .footer__list h6 {
  color: $c-offblack;
}

.eit-non-blocks .footer__aside-inner {
  color: $c-offblack;
}
