/* ------------------------------------------------------------ *\
Hero
\* ------------------------------------------------------------ */

.hero-large {
  position: relative;
  height: 95.2rem;
  padding-top: 13rem;
  overflow: hidden; 
  background: url(../img/bg-noise.png), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(100% 352.75% at 0% 0%, rgba(112, 99, 92, 0) 0%, rgba(112, 99, 92, 0.45) 100%), #F0ECE2;
  transition: height .3s ease;
  
  @include breakpoint-down(tablet) {
    height: 100rem;
  }

  @include breakpoint-down(mobile) {
    padding-top: 12.4rem;
    height: 82rem;
  }
  
  @include breakpoint-down(mobile-medium) {
    height: 67rem;
  }
  
  .shell {
    height: 100%;
  }
  
  h1 {
    font-size: 1.4rem;
    letter-spacing: .2rem;
    margin-bottom: 2.2rem;
    text-transform: uppercase;
    
    @include breakpoint-down(mobile) {
      letter-spacing: .05rem;
      font-size: 1.3rem;
      margin-bottom: 1.6rem;
    }
  }

  h2 {
    letter-spacing: -0.05em;
    line-height: 1;
    color: $c-orange;
    font-size: 12.8rem;
    font-weight: 500;
    margin: 0;
    
    sup {
      font-size: .095em;
      letter-spacing: 0;
      top: -.75em;
      vertical-align: super;
    }
    
    .final {      
      .hero__heading-line {
        position: absolute;
        top: 50%; right: -2rem;
        width: 90%;
        transform: translateY(-57%);
        
        svg {
          width: 100%;
        }
      }
    }
    
    @include breakpoint-down(xlarge-desktop-alt) {
      font-size: 11rem;
      
      .final {      
        .hero__heading-line {
          right: -1.75rem;
          width: 91%;
          transform: translateY(-52%);
        }
      }  
    }

    @include breakpoint-down(large-desktop) {
      font-size: 8rem;
      
      .final {      
        .hero__heading-line {
          right: -1rem;
          width: 95%;
          transform: translateY(-45%);
        }
      }
    }

    @include breakpoint-down(tablet) {
      font-size: 10rem;
      
      .final {      
        .hero__heading-line {
          right: -1.5rem;
          width: 92%;
          transform: translateY(-52%);
        }
      }
    }

    @include breakpoint-down(mobile) {
      font-size: 7.5rem;
      
      .final {      
        .hero__heading-line {
          right: -1rem;
          width: 100%;
          transform: translateY(-42%);
        }
      }
    }
    
    @include breakpoint-down(mobile-medium) {
      font-size: 5.5rem;
    }
    
    @include breakpoint-down(mobile-small) {
      font-size: 4.5rem;
    }
  }

  h6 {
    letter-spacing: 0.2rem;
    margin-bottom: 2.5rem;

    @include breakpoint-down(mobile) {
      font-size: 1.2rem;
      letter-spacing: 0.05em;
      margin-bottom: 1.7rem;
    }
  }

  .hero__heading {
    position: relative;
    margin-bottom: 3.2rem;
    
    @include breakpoint-down(mobile) {
      margin-bottom: 1.6rem;
    }
  }

  .hero__heading-element {
    position: absolute;
    top: 12rem;
    right: 0;

    @include breakpoint-down(large-desktop) {
      max-width: 33rem;
      top: 7rem;
      right: 2.5rem;
    }

    @include breakpoint-down(tablet) {
      max-width: none;
      top: 12rem;
      left: 0;
      right: auto;
    }

    @include breakpoint-down(mobile) {
      max-width: 20rem;
      top: 4rem;
    }
  }

  .hero__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;

    @include breakpoint-down(tablet) {
      flex-direction: column;
      padding: 0;
      
    }
  }

  .hero__menu {
    max-width: 95rem;
    margin: 0 auto;
    position: relative;
    padding: 8.6rem 0;
  }

  .hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero__background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero__image {
    width: 160%;
    max-width: 86.8rem;  
    margin-left: -8rem;
    
    @include breakpoint-down(tablet) {
      width: 130%;
      margin: -18rem -22rem 0 auto;
      max-width: 70rem;
    }
    
    @include breakpoint-down(tablet-custom) {
      margin: 0 -14rem 0 auto;  
      max-width: 65rem;
    }
    
    @include breakpoint-down(mobile) {
      width: 100%;
      margin: 0 0 0 auto;
      max-width: 50rem;
    }
    
    @include breakpoint-down(mobile-medium) {
      max-width: 40rem;
    }
  }

  .hero__content {
    padding: 8.6rem 0 0 5.6rem;
    max-width: 66rem;

    @include breakpoint-down(large-desktop) {
      padding: 8.6rem 0 0 3rem;
      max-width: 42rem;
    }

    @include breakpoint-down(tablet) {
      max-width: none;
      width: 100%;
      padding: 5rem 0 0; 
      max-width: 38rem;
    }
    
    @include breakpoint-down(mobile) {
      padding: 0;
    }
  }

  .hero__chat {
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 4;

    @include breakpoint-down(mobile) {
      display: none;
    }
  }

  .hero__entry {
    font-weight: 500;
    font-size: 2rem;
    max-width: 50rem;
    line-height: 1.7;

    @include breakpoint-down(tablet) {
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
  }

  .hero__actions {
    margin-top: 5rem;

    @include breakpoint-down(tablet) {
      visibility: collapse;
      margin-top: 0;        
    }

    @include breakpoint-down(mobile) {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 5;
      visibility: visible;
      background: $c-lightbeige;
      border-top: 1px solid $c-mediumdarkbeige;
      padding: 1.3rem 2rem;
      box-shadow: 0 -.4rem .8rem rgba($c-offblack, 0.1);
    }
  }

  .hero__actions a {
    @include breakpoint-down(tablet) {
      display: none;
    }
    
    @include breakpoint-down(mobile) {
      display: inline-block;
      font-size: 1.4rem;
      padding: 1.2rem 2.4rem;
      color: $c-white;
      width: auto;
      min-height: 0;
      background-color: $c-orange;
      border-color: $c-orange;
    }
  }

  .hero__actions a {
    @include breakpoint-down(mobile) {
      &:focus {
        color: $c-white !important;
      }
      
      &:hover {
        background-color: $c-darkorange;
        border-color: $c-darkorange;
      }
    }
  }

  .hero__actions a figure {
    @include breakpoint-down(mobile) {
      display: none;
    }
  }

  .hero__menu {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 95.2rem;
    pointer-events: none;
    transition: opacity .2s ease, height .3s .2s ease;
    padding: 13rem 4rem 0;
    max-width: none;
    
    .menu-find {
      opacity: 0;
      transform: translateY(-2rem);
      transition: opacity .3s ease, transform .3s ease;
      transition-delay: .1s;
    }

    @include breakpoint-down(small-desktop) {
      padding: 18rem 4rem 0;
    }

    @include breakpoint-down(tablet) {
      height: 100rem;
      padding: 18rem 4rem 0;
    }

    @include breakpoint-down(mobile) {
      height: 82rem;
      padding: 15rem 2rem 0;
    }
    
    @include breakpoint-down(mobile-medium) {
      height: 67rem;
    }
  }
  
  .side-menu & {
    .hero__menu {
      padding: 13rem 12rem 0 20.5rem;

      @include breakpoint-down(small-desktop) {
        padding: 18rem 4rem 0 12.5rem;
      }

      @include breakpoint-down(tablet) {
        padding: 18rem 4rem 0 11rem;
      }

      @include breakpoint-down(mobile) {
        padding: 15rem 2rem 0 2rem;
      }
    }  
  }

  .hero__menu-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero__menu-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero.menu-open {
  height: 100vh;
  
  .hero__menu {
    opacity: 1;
    pointer-events: inherit;
    z-index: 5;
    height: 100vh;
    
    .menu-find {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
  }
}
