/* ------------------------------------------------------------ *\
List persons
\* ------------------------------------------------------------ */

.list-persons {
  list-style: none;
  margin: 0;

  .list__more a {
    font-size: 1.6rem;
    font-weight: 700;
    min-height: 5.2rem;
    padding: .6rem .8rem;
    display: flex;
    align-items: center;
    color: $c-orange;
  }

  .list__more a:hover {
    color: $c-darkorange;
  }
}
