/* ------------------------------------------------------------ *\
List about
\* ------------------------------------------------------------ */

.list-about {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;

  @include breakpoint-down(mobile) {
    font-size: 1.4rem;
  }

  li a {
    text-underline-offset: .2rem;
    color: $c-extradarkbeige;
  }

  li a:hover {
    text-decoration: underline;
  }

  li p span {
    color: $c-orange;
  }

  .list__location {
    margin: 1.4rem 0;
  }
}
