/* ------------------------------------------------------------ *\
Main
\* ------------------------------------------------------------ */

.main {
  position: relative;
  max-width: 200rem;
  margin: 0 auto;
  
  .main__aside {
    display: none;
  }
  
  &.side-menu {
    padding-left: 8.5rem;  
    
    .main__aside {
      display: block;
    }
  }

  @include breakpoint-down(tablet) {
    &.side-menu {
      padding-left: 7rem;
    }
  }

  @include breakpoint-down(mobile) {
    &.side-menu {
      padding: 0;
    }
  }

  .main__content {
    position: relative;
  }
}
