/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */

.mfp-close {
	color: $c-extradarkbeige !important;
	width: 4.8rem !important;
	border-radius: 50% !important;
	height: 4.8rem;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	padding: 0 !important;
	background-color: $c-white !important;
	opacity: 1;
	border: .1rem solid $c-mediumdarkbeige !important;
	top: 0 !important;
	right: -6rem !important;
	box-shadow: 0 0 2.4rem rgba(0, 0, 0, .04) !important;

	@include breakpoint-down(small-desktop) {
		right: 0 !important;
		top: -6rem !important;
	}

	&:after {
		position: absolute;
		font-size: 1.3rem;
		font-weight: 700;
		content: 'Close';
		bottom: -3.5rem;

		@include breakpoint-down(small-desktop) {
			display: none;
		}
	}
}

.mfp-iframe-holder {
	background-color: $c-white;
}

