/* ------------------------------------------------------------ *\
Section events
\* ------------------------------------------------------------ */

.section-events {
  padding: 4rem 0;

  h6 {
    color: #635853;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    @include breakpoint-down(mobile) {
      font-size: 1.2rem;
    }
  }

  h3 {
    position: relative;
    line-height: 1.15;
    letter-spacing: -0.04em;
    z-index: 1;
    margin: 0;

    @include breakpoint-down(tablet) {
      font-size: 4rem;
    }

    @include breakpoint-down(mobile) {
      font-size: 3.2rem;
      line-height: 1;
    }
  }

  .section__heading {
    position: relative;
    margin-bottom: 3rem;
  }

  .section__heading-element {
    position: absolute;
    top: 0;
    left: -4rem;

    @include breakpoint-down(mobile) {
      top: -1rem;
      max-width: 38rem;
    }
  }

  .section__inner {
    display: flex;
    justify-content: space-between;

    @include breakpoint-down(tablet) {
      flex-wrap: wrap;
    }
  }

  .section__content {
    @include breakpoint-down(xlarge-desktop) {
      padding: 0;
      width: 50%;
    }

    @include breakpoint-down(tablet) {
      width: 100%;
      margin-bottom: 5rem;
    }
  }

  .section__aside {
    padding-top: 3.8rem;

    @include breakpoint-down(xlarge-desktop) {
      padding: 0 0 0 2rem;
      width: 50%;
    }

    @include breakpoint-down(tablet) {
      /*padding: 4rem 0 0 2rem;*/
      padding: 0;
      width: 100%;
    }
  }

  .section__entry p {
    line-height: 2;

    @include breakpoint-down(mobile) {
      line-height: 1.8;
    }
  }

  .section__actions {
    margin-top: 5rem;

    @include breakpoint-down(mobile) {
      margin-top: 4rem;
    }
  }

  .section__content .section__actions {
    @include breakpoint-down(mobile) {
      display: none;
    }
  }

  .section__aside .section__actions {
    display: none;

    @include breakpoint-down(mobile) {
      display: block;
    }
  }
}
