/* ------------------------------------------------------------ *\
Section news
\* ------------------------------------------------------------ */

.section-news {
  padding: 12.4rem 0 8rem;

  @include breakpoint-down(tablet) {
    padding: 7.2rem 0;
  }

  @include breakpoint-down(mobile) {
    padding: 6.2rem 0 2.5rem;
  }

  h6 {
    font-size: 1.4rem;
    color: #635853;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2.6rem;
    letter-spacing: 0.07em;

    @include breakpoint-down(mobile) {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  h3 {
    line-height: 1.1;
    letter-spacing: -0.04em;

    @include breakpoint-down(tablet) {
      font-size: 4rem;
    }

    @include breakpoint-down(mobile) {
      font-size: 3.2rem;
    }
  }

  .section__head {
    max-width: 25rem;
    margin-bottom: 4.5rem;

    @include breakpoint-down(mobile) {
      max-width: 20rem;
      margin-bottom: 2.2rem;
    }
  }

  .section__actions {
    margin-top: 5rem;

    @include breakpoint-down(tablet) {
      margin-top: 7.7rem;
    }

    @include breakpoint-down(mobile) {
      margin-top: 4.5rem;
    }
  }

  .section__actions a {
    padding: 0 3rem;
    min-width: 0;

    @include breakpoint-down(mobile) {
      padding: 0 2.4rem;
    }
  }

  .section__body {
    @include breakpoint-down(tablet) {
      width: calc(100% + 6rem);
      margin-right: -6rem;
    }

    @include breakpoint-down(mobile) {
      width: calc(100% + 2rem);
      margin-right: -2rem;
    }
  }
}
