/* ------------------------------------------------------------ *\
Section testimonials
\* ------------------------------------------------------------ */

.section-testimonials {
  position: relative;
  padding: 20rem 0 15rem;
  color: $c-white;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%; height: 100%;
    background: $c-blue;
  }

  @include breakpoint-down(mobile) {
    padding: 8rem 0;
  }

  h6 {
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;

    @include breakpoint-down(mobile) {
      font-size: 1.2rem;
      margin-bottom: 2.5rem;
    }
  }

  .section__inner {
    @include breakpoint-down(large-desktop) {
      padding: 0 0 0 2rem;
    }

    @include breakpoint-down(tablet) {
      padding: 0 3.5rem 0 5rem;
    }

    @include breakpoint-down(mobile) {
      padding: 0;
    }
  }

  .section__element {
    max-width: 20rem;
    position: absolute;
    top: -14rem;
    left: -13rem;

    @include breakpoint-down(xlarge-desktop) {
      left: 0;
    }

    @include breakpoint-down(tablet) {
      left: -3rem;
      top: -13rem;
    }

    @include breakpoint-down(mobile) {
      max-width: 8.5rem;
      top: -5rem;
    }
  }

  .section__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .section__background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section__inner {
    position: relative;
  }
}
