/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"
// "\23f8" outputs ascii character "⏸"
// "\25b6" outputs ascii character "▶"

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../img/" !default;
$slick-arrow-color: black !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-pause-character: "\23f8" !default;
$slick-play-character: "\25b6" !default;
$slick-dot-size: 12px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-active: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url);
  }

  @else {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }

  @else {
    @return url($slick-font-path + $url);
  }
}

/* Icons */
@if $slick-font-family=="slick" {
  @font-face {
    font-family: "slick";
    src: slick-font-url("slick.eot");
    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

/**
  Slider
*/

.slick-list {
  .slick-loading & {
    background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
  }
}



/*=================================
  Previous and Next icon buttons
==================================*/
.slick-prev,
.slick-next {
  display: block;
  padding: 0;
  height: 20px;
  width: 20px;

  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  border: none;

  // Hover and focus states
  &:hover,
  &:focus {
    .slick-prev-icon,
    .slick-next-icon {
      opacity: $slick-opacity-active;
    }
  }

  &:focus {
    top: calc(50% - 1px);

    .slick-prev-icon,
    .slick-next-icon {
      color: orange;
      font-size: 28px;
      margin-left: -2px;
    }
  }

  // Disabled state
  &.slick-disabled {
    cursor: default;

    .slick-prev-icon,
    .slick-next-icon {
      opacity: $slick-opacity-not-active;
    }
  }

  // Inner icons
  .slick-prev-icon,
  .slick-next-icon {
    display: block;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    font-family: $slick-font-family;
    font-size: 24px;
    line-height: 1;
  }
}

// Previous button
.slick-prev {
  .slick-prev-icon {
    &:before {
      content: $slick-prev-character;

      [dir="rtl"] & {
        content: $slick-next-character;
      }
    }
  }
}

// Next button
.slick-next {
  .slick-next-icon {
    &:before {
      content: $slick-next-character;

      [dir="rtl"] & {
        content: $slick-prev-character;
      }
    }
  }
}

/*==========================
  Slide navigation dots
===========================*/

.slick-dots {
  position: absolute;
  bottom: 2rem;
  line-height: 1;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;

  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;

    button {
      display: block;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      border: 0;
      background: transparent;
      cursor: pointer;
      border-radius: 2rem;

      // Hover and focus states
      &:hover,
      &:focus {
        .slick-dot-icon {
          opacity: $slick-opacity-active;
        }
      }

      &:focus {
        outline-color: $c-white; 
        
        .slick-dot-icon:before {
          color: orange;
        }
      }

      // Inner dot icons
      .slick-dot-icon {
        color: $slick-dot-color;
        opacity: $slick-opacity-not-active;

        &:before {
          position: absolute;
          top: 0;
          left: 0;

          content: $slick-dot-character;
          font-family: $slick-font-family;
          font-size: $slick-dot-size;
          line-height: 1;
          text-align: center;

          transition: all .05s linear;
        }
      }
    }

    // Active dot
    &.slick-active {
      button {
        &:focus {
          .slick-dot-icon {
            color: orange;
            opacity: 1;
          }
        }

        .slick-dot-icon {
          color: $slick-dot-color-active;
          opacity: $slick-opacity-active;

          &:before {
            margin-top: -3px;
            margin-left: -2px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

/**
 Improved .sr-only class by ffoodd: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.slick-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*===========================
  Pause/play icon button
============================*/
.slick-autoplay-toggle-button {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  width: 2.2rem;
  height: 2.2rem;
  z-index: 10;
  border-radius: 2rem;

  opacity: $slick-opacity-default;
  background: none;
  border: 0;
  cursor: pointer;
  color: $c-white;

  &:hover, &:focus {
    opacity: $slick-opacity-active;
  }

  &:focus {
    color: $c-white;
    outline-color: $c-white;
  }
  
  .slick-pause-icon, .slick-play-icon {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    
    &:before, &:after {
      position: absolute;
      top: 50%; left: 50%;
      width: 2rem;
      height: 2rem;
      font-family: $slick-font-family;
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 2rem;
      text-align: center;  
      transform: translate(-49%, -48%);
    }
  }

  .slick-pause-icon:before {
    content: $slick-pause-character;
  }

  .slick-play-icon:before {
    content: $slick-play-character;
  }
}

.slick-dots {  
  li {
    margin: 0 .8rem;
    
    button {
      position: relative;
      width: 2.2rem;
      height: 2.2rem;
    }
    
    .circle {
      position: absolute;
      top: 50%; left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) rotate(-90deg);
      transition: opacity .5s ease;
      
      .inner-circle {
        opacity: .5;
        transition: opacity .3s ease;
        fill: #fff;
      }
      
      .outer-circle, .outer-circle-grow {
        stroke-dasharray: 63;
        stroke-dashoffset: 63;  
        opacity: 0;
        transition: opacity .3s ease;
        stroke: #fff;
      }
    }
    
    &.slick-active {
      .circle {
        .inner-circle {
          opacity: 1;
        }
        
        .outer-circle {
          opacity: .25;
          animation: stroke 10s ease-out forwards;
        }
        
        .outer-circle-grow {
          opacity: 1;
          animation: strokeSlow 10s ease-out forwards;
        }
      } 
    }
  }
}

.slider-testimonials-slider {
  .slick-autoplay-toggle-button {
    top: 0; right: 0; left: auto; bottom: auto;
  }
  
  .slick-dots { 
    top: 5rem; right: 0; left: auto; bottom: auto;
    width: auto;
    transform: none;
    
    li {
      display: block;
      margin: 0 0 .8rem;
    }
  }
}

@keyframes stroke {
  0%   { stroke-dashoffset: 63; opacity: 0; }
  10%  { stroke-dashoffset: 0; opacity: .35; }
  95%  { stroke-dashoffset: 0; opacity: .35; }
  100% { stroke-dashoffset: 63; opacity: 0; }
}

@keyframes strokeSlow {
  0%   { stroke-dashoffset: 63; opacity: 0; }
  10%  { opacity: 1; }
  95%  { stroke-dashoffset: 0; opacity: 1; }
  100% { stroke-dashoffset: 63; opacity: 0; }
}

/*===========================
  Arrow Navigation
============================*/

.nav-arrow {
  position: absolute;
  top: -9.7rem; right: 0;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: .1rem solid #635853;
  transition: transform .3s ease;
  background-color: $c-white;
  cursor: pointer;
  
  &.prev {
    right: 6rem;
    
    @include breakpoint-down(mobile) {
      right: 5.2rem;
    }
  }
  
  &.slick-disabled {
    opacity: .5;
  }

  @include breakpoint-down(mobile) {
    top: -6.4rem;
    width: 4rem;
    height: 4rem;
  }

  &:after {
    display: none;
  }
  
  &:hover {
    transform: scale(1.05);
  }
}