/* ------------------------------------------------------------ *\
Slider
\* ------------------------------------------------------------ */

.tns-outer {
  padding: 0 !important; // remove padding: clientWidth = width + padding (0) = width
  [hidden] { display: none !important; }
  [aria-controls], [data-action] { cursor: pointer; }
}

.tns-slider {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
  > .tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.tns-horizontal {
  &.tns-subpixel {
    white-space: nowrap;
    > .tns-item {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }
  &.tns-no-subpixel {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    > .tns-item {
      float: left;
    }
  }
  &.tns-carousel {
    &.tns-no-subpixel {
      > .tns-item {
        margin-right: -100%;
      }
    }
  }
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px; // make sure slider container is visible
  // overflow: hidden;
  > .tns-item {
    position: absolute;
    pointer-events: none;
    left: 0;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
  }
  > .tns-slide-active {
    position: relative;
  }
  > .tns-moving {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
}

.tns-autowidth { display: inline-block; }

.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
  &.tns-complete { opacity: 1; }
}

.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}

//.tns-ovh { overflow: hidden; }

.tns-visually-hidden { position: absolute; left: -10000em; }

.tns-transparent { opacity: 0; visibility: hidden; }

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
  transform: translateY(0);
}

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
  transform: translateY(.5em);
}

.tns-vpfix {
  white-space: nowrap;
  > div, > li {
    display: inline-block;
  }
}

$width: 310px;
$height: 10px;
$count: 70;
$perpage: 3;

.tns-t {
  &-subp2 {
    margin: 0 auto;
    width: $width;
    position: relative;
    height: $height;
    overflow: hidden;
  }
  &-ct {
    width: (100% * $count / $perpage);
    width: -webkit-calc(100% * #{$count} / #{$perpage});
    width: -moz-calc(100% * #{$count} / #{$perpage});
    width: calc(100% * #{$count} / #{$perpage});
    position: absolute;
    right: 0;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    > div {
      width: (100% / $count);
      width: -webkit-calc(100% / #{$count});
      width: -moz-calc(100% / #{$count});
      width: calc(100% / #{$count});
      height: $height;
      float: left;
    }
  }
}

.slider-nav {
  position: absolute;
  z-index: 100;
  top: 50%; right: 0;
  list-style-type: none;
  margin: 0; padding: 0;
  transform: translateY(-50%);
  
  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: -999em;
    width: 2em; height: 2em;
    cursor: pointer;
    outline: none;
    
    .circle {
      position: absolute;
      top: 50%; left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) rotate(-90deg);
      transition: opacity .5s ease;
      
      .inner-circle {
        opacity: .5;
        transition: opacity .3s ease;
        fill: #fff;
      }
      
      .outer-circle, .outer-circle-grow {
        stroke-dasharray: 63;
        stroke-dashoffset: 63;  
        opacity: 0;
        transition: opacity .3s ease;
        stroke: #fff;
      }
    }
    
    &.tns-nav-active {
      .circle {
        .inner-circle {
          opacity: 1;
        }
        
        .outer-circle {
          opacity: .25;
          animation: stroke 10s ease-out forwards;
        }
        
        .outer-circle-grow {
          opacity: 1;
          animation: strokeSlow 10s ease-out forwards;
        }
      } 
    }
  }
}

.callout-slider-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  top: auto; bottom: 5%; right: auto; left: 50%;
  transform: translateX(-50%);
  
  li {
    display: inline-flex;
  }
}

@keyframes stroke {
  0%   { stroke-dashoffset: 63; opacity: 0; }
  10%  { stroke-dashoffset: 0; opacity: .35; }
  95%  { stroke-dashoffset: 0; opacity: .35; }
  100% { stroke-dashoffset: 63; opacity: 0; }
}

@keyframes strokeSlow {
  0%   { stroke-dashoffset: 63; opacity: 0; }
  10%  { opacity: 1; }
  95%  { stroke-dashoffset: 0; opacity: 1; }
  100% { stroke-dashoffset: 63; opacity: 0; }
}

/* ------------------------------------------------------------ *\
Slider news
\* ------------------------------------------------------------ */

.slider-news {
  position: relative;

  .slider__clip {
    width: 150%;

    @include breakpoint-down(tablet) {
      width: 100%;
    }
  }

  .slider__navigation {
    position: absolute;
    top: -10.3rem;
    right: 0;
    display: flex;
    outline: transparent dotted .2rem;
    outline-offset: .2rem;
    border-radius: 4rem;

    &:focus {
      outline-color: $c-orange; 
    }    

    @include breakpoint-down(tablet) {
      right: 6rem;
      top: -7.2rem;
    }

    @include breakpoint-down(mobile) {
      right: 2rem;
    }
  }

  .slider__prev,
  .slider__next {
    top: auto;
    left: auto;
    right: auto;
    position: relative;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid #635853;
    transition: transform .3s ease;
    background-color: $c-white;
    cursor: pointer;

    @include breakpoint-down(mobile) {
      width: 4rem;
      height: 4rem;
    }

    &:after {
      display: none;
    }
  }

  .slider__prev:hover,
  .slider__next:hover {
    transform: scale(1.05);
  }

  .slider__next {
    margin-left: 1.6rem;

    @include breakpoint-down(mobile) {
      margin-left: 1.2rem;
    }
  }
}


/* ------------------------------------------------------------ *\
Slider testimonials
\* ------------------------------------------------------------ */

.slider-testimonials {
  position: relative;

  .slider__clip {
    margin-right: 1rem;
  }

  .slider__slide {
    padding-right: 2rem;
  }
  
  .slider-controls {
    outline: none;
    position: absolute;
    z-index: 20;
    top: 50%; left: 50%;
    width: 100%; height: 100%;
    transform: translate(-50%, -50%);
    
    button {
      position: absolute;
      top: 0; left: 0;
      width: 50%; height: 100%;
      opacity: 0;
      
      &.controls-next {
        left: 50%;
      }
    }
  }
}
