<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>UT Health - front-end</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">

  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
</head>
  
<body>
  @@include('./includes/cursors.html')
  
  <div class="wrapper">
    <div class="main side-menu">
      <div class="main__content">
        
        @@include('./includes/sidebar.html')
        
        @@include('./includes/menu.html')

        @@include('./includes/header.html')

        @@include('./includes/hero.html')
        
        @@include('./includes/section-callout-slider.html')

        @@include('./includes/section-text.html')
        
        @@include('./includes/section-callout-reversed.html')

        @@include('./includes/section-testimonials.html')

        @@include('./includes/section-news.html')

        @@include('./includes/section-events.html')

        @@include('./includes/section-callout-basic.html')

        @@include('./includes/footer.html')
        
      </div><!-- /.main__content -->
    </div><!-- /.main -->
  </div><!-- /.wrapper -->

  @@include('./includes/scripts.html')
</body>
</html>
