/* ============================================================
    ACCORDIONS
============================================================ */

.accordion {
  margin-left: 0;
  background: transparent;
  list-style-type: none;
}

.accordion[disabled] .accordion-title {
  cursor: not-allowed;
}

.accordion-title {
  margin-top: rem-calc(16px);
  position: relative;
  display: block;
  padding: 1.25rem 1rem;
  border: 1px solid $light-grey;
  border-radius: 6px !important;
  border-bottom: rem-calc(1px);
  font-size: rem-calc(18px);
  line-height: 1;
  color: $off-black;
  font-weight: 400;
  box-shadow: rem-calc(0px 1px 3px) $grey;
  transition: background-color .2s ease-out;

  &.heading {
    font-family: $serif-font;
    font-size: rem-calc(32px);
    padding: rem-calc(1rem);
  }
}

.accordion-title:hover,
.accordion-title:focus {
  color: $dark-orange;
  background-color: $off-white;
}

.accordion-title::before {
  position: absolute;
  top: 50%;
  right: rem-calc(12px);
  margin-top: rem-calc(-27px);
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  font-size: rem-calc(60px);
  font-weight: 900;
  color: $orange;
}

.is-active>.accordion-title::before {
  content: "\f106";
  font-family: 'Font Awesome 5 Free';
  font-size: rem-calc(60px);
  font-weight: 900;
  color: $orange;
}

.accordion-content {
  display: none;
  margin-top: -.5rem;
  padding: rem-calc(30px);
  border: rem-calc(1px) solid $light-grey;
  border-top: none;
  border-radius: rem-calc(0 0 6px 6px);
  border-bottom: 1;
  background-color: $pure-white;
  color: $off-black;
}

:last-child>.accordion-content:last-child {
  border-bottom: rem-calc(1px) solid $light-grey;
}

.is-active>.accordion-content {
  display: block;
}

// ======= Orange Accordion
.accordion.orange {
  .accordion-title {
    color: $off-white !important;
    border: rem-calc(1px) solid $orange !important;
    background: $orange !important;
  }

  .accordion-title:hover,
  .accordion-title:focus {
    background: $dark-orange !important;
  }

  .accordion-title::before {
    color: $off-white;
  }

  .is-active>.accordion-title::before {
    color: $off-white;
  }

  .accordion-content {
    background-color: $light-beige;
    color: $off-black;
  }
}

// ======= Grey Accordion
.accordion.grey {

  .accordion-title {
    color: $off-white !important;
    border: rem-calc(1px) solid $grey !important;
    background: $grey !important;
  }

  .accordion-title:hover,
  .accordion-title:focus {
    background: $dark-grey !important;

  }

  .accordion-title::before {
    color: $off-white;
  }

  .is-active>.accordion-title::before {
    color: $off-white;
  }

  .accordion-content {
    background-color: $light-grey;
    color: $off-black;
  }

}

// ======= Blue Accordion
.accordion.blue {
  .accordion-title {
    color: $off-white !important;
    border: rem-calc(1px) solid $blue-60 !important;
    background: $blue !important;
  }

  .accordion-title:hover,
  .accordion-title:focus {
    background: $blue-70 !important;
  }

  .accordion-title::before {
    color: $off-white;
  }

  .is-active>.accordion-title::before {
    color: $off-white;
  }

  .accordion-content {
    background-color: $light-grey;
    color: $off-black;
  }
}
