/* ============================================================
    ALERTS
============================================================ */

.callout {
    &.alert { //Closable alerts
        background-color: $dark-orange;
        color: $off-white;
        font-weight: 500;
        box-shadow: rem-calc(1px -1px 8px 0px) rgba(23, 23, 23, 0.55);
        //bottom: 0 !important;
        button.close-button {
            color: $pure-white;
        }

        p>a {
            background-image: linear-gradient($grey-link, $grey-link) !important;
            color: $grey-link !important;
    
            &:hover {
                background-color: $grey-link;
                color: $grey-90 !important;
            }
    
            &.arrow {
                background-color: transparent !important;
    
                &:after {
                    color: $grey-link;
                }
    
                &:hover {
                    color: $grey-link !important;
    
                    &:after {
                        color: $grey-link;
                    }
                }
            }
        }
    }
}

.alert { //Regular alerts
    padding: rem-calc(30px);
    font-weight: 900;
    font-size: rem-calc(20px);

    p {
        margin: 0;
    }

    &.sitewide {
        background-color: $gold;
    }
}

.grid-container {
    .alert {
        background-color: $blue-20;

        &.blue {
            background-color: $blue-20;
        }

        &.grey {
            background-color: $grey-20;
        }
    }

}