    /* ============================================================
    BLEEDS
============================================================ */
    
    .grid-container {
        padding-top: rem-calc(60px);
        padding-bottom: rem-calc(60px);
        &.img-bleed-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
            background-color: rgba(23, 23, 23, 0.5);
            color: $off-white
        }
    }
    
    .roomy {
        padding-top: rem-calc(90px);
        padding-bottom: rem-calc(90px);
        @media screen and (max-width: 640px) {
            padding-top: rem-calc(10px);
            padding-bottom: rem-calc(10px);
        }
    }
    
    .extra-roomy {
        padding-top: rem-calc(120px);
        padding-bottom: rem-calc(120px);
        @media screen and (max-width: 640px) {
            padding-top: rem-calc(15px);
            padding-bottom: rem-calc(15px);
        }
    }
    .chonky {
        padding-top: rem-calc(240px);
        padding-bottom: rem-calc(240px);
        @media screen and (max-width: 640px) {
            padding-top: rem-calc(60px);
            padding-bottom: rem-calc(60px);
        }
    }
    
    .bleed {
        color: $off-black;
        &.light-beige {
            background-color: $light-beige !important;
        }
        &.hero:not(.img-fill) {
            background-color: $light-beige !important;
        }
        &.beige {
            background-color: $beige !important;
        }
        &.dark-beige {
            background-color: $dark-beige !important;
        }
        &.light-grey {
            background-color: $light-grey !important;
        }
        &.color {
            color: $off-white;
            &.grey {
                background-color: $grey !important;
            }
            &.dark-grey {
                background-color: $dark-grey !important;
            }
            &.orange {
                background-color: $orange !important;
            }
        }
    }
    /* ============================================================
 BLEEDING IMAGES
============================================================ */
    
    .img-bleed-right {
        padding: rem-calc(0px);
        &.grid-container {
            padding-left: rem-calc(30px);
        }
        .callout.jump-right {
            blockquote,
            cite {
                color: $dark-grey;
            }
        }
        /*@media screen and (max-width: 568px) {
            padding: rem-calc(10px);
            &.grid-container {
                padding-right: rem-calc(10px);
            }
        }*/
        @media screen and (max-width: 910px) {
            .cell {
                padding-left: rem-calc(15px);
                padding-right: rem-calc(15px);
            }
            &.grid-container {
                padding-left: rem-calc(0px);
                padding-top: rem-calc(60px);
                padding-bottom: rem-calc(60px);
            }
        }
    }
    
    .img-bleed-left {
        padding: rem-calc(0px);
        &.grid-container {
            padding-right: rem-calc(30px);
        }
        .callout.jump-left {
            blockquote,
            cite {
                color: $dark-grey;
            }
        }
        @media screen and (max-width: 910px) {
            .cell {
                padding-left: rem-calc(15px);
                padding-right: rem-calc(15px);
            }
            &.grid-container {
                padding-right: rem-calc(0px);
                padding-top: rem-calc(60px);
                padding-bottom: rem-calc(60px);
            }
        }
    }
    /* ============================================================
IMG Fill BLEEDS
============================================================ */
    
    .img-fill {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 100%;
        background-color: rgba(23, 23, 23, 0.77);
        color: $off-white;
        padding-top: 0;
        &.full {
            .cell {
                padding-left: rem-calc(15px);
                padding-right: rem-calc(15px);
            }
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(23, 2, 0, 0.5);
            object-fit: cover;
        }
        >.grid-x {
            padding-top: rem-calc(60px);
        }
        .bottom {
            object-position: bottom;
        }
        .top {
            object-position: top;
        }
    }
    /* ============================================================
    NEWSLETTER ICON BLEED
============================================================ */
    
    .fa-envelope-open-text.fa-10x {
        @media screen and (max-width: 570px) {
            font-size: 1rem;
            visibility: hidden;
        }
    }