/* ============================================================
    BLOCKQUOTES
============================================================ */

blockquote {
    color: $dark-grey;
    border-left: none;
    margin:0;
    padding:0;
    position: relative;
    p {
        color: $dark-grey;
        line-height: inherit;
        + cite {
            margin-top:-0.5rem;
        }
    }
}
cite {
    color: $dark-grey;
    font-style:italic;
    font-weight: 600;
    font-size:inherit;

    a {
        font-weight: 700;
    }
    }
cite:before {
    content: "\2014";
    margin-right: .25rem;
}



.bleed.color blockquote {
    color: $off-white;
    border-left: none;
    margin:0;
    padding:0;
    p {
        color: $off-white;
        line-height: inherit;
        + cite {
            margin-top:-0.5rem;
        }
    }

    cite {
        color: $off-white;
        font-style:italic;
        font-weight: 600;
        font-size:inherit;
        &:before {
            content: "\2014";
            margin-right: .25rem;
        }
    }
}

.bleed.color.pullquote {
    blockquote p:first-of-type::before {
        content: "\201C";
        position: absolute;
        top: rem-calc(-110px);
        left: rem-calc(-50px);
        font-size: 8.33rem;
        color: $off-white;
        @media screen and (max-width: rem-calc(639px)) {
            left: rem-calc(-5px);
        }
    }
    blockquote p:last-of-type::after {
        content: "\201D";
    }
}

blockquote.fancy {
    background-color: $light-grey;
    p {
        padding: 2rem 1.667rem 1.667rem 2.75rem;
        color: $off-black;
        &:first-of-type::before {
            content: "\201C";
            position: absolute;
            top: rem-calc(-50px);
            left: rem-calc(-5px);
            font-size: 8.33rem;
            color: $blue-60;
        }
        &:last-of-type::after {
            content: "\201D";
        }
    }
}

blockquote.fancy cite {
    background-color: $blue-60;
    color: $off-white;
    padding: 1.667rem;
    font-weight: 900;
}