/* ============================================================
    BUTTONS
============================================================ */

.button {
    background-color: $orange;
    border-radius: rem-calc(5px);
    color: $off-white;
    font-size: rem-calc(18px);
    font-weight: 500;
    box-shadow: $shadow-2;

    &.white {
        background-color: $off-white;
        color: $orange;
    }

    &.ghost {
        border: rem-calc(1px) solid $orange;
        background-color: $off-white;
        color: $orange;
    }
}

.button:hover,
.button:focus {
    background-color: $dark-orange;
    color: $off-white;
}

.button.ghost:hover,
.button.ghost:focus {
    background-color: $orange;
}

.button-group {
    .button {
        font-weight: 500;
        margin-right: rem-calc(24px) !important;
        font-size: rem-calc(18px);
    }
}

.hero {
    .button {
        font-weight: 700;
        padding-top: rem-calc(22px);
        padding-bottom: rem-calc(22px);
    }

    &.button-group {
        &.button {
            font-weight: 700;
            font-size: rem-calc(18px);
        }
    }

    .orange {
        .button {
            background-color: $off-white;
            color: $orange;
        }

        .button:hover {
            background-color: darken($pure-white, 20%);
        }
        
        .button-group {
            .button {
                background-color: $off-white;
                color: $orange;
            }

            .button:hover {
                background-color: darken($pure-white, 20%);
            }
        }
    }
}

.bleed {
    &.color {
        .button {
            background-color: $off-white;
            color: $orange;

            &.ghost {
                border: rem-calc(1px) solid $off-white;
                background-color: transparent;
                color: $off-white;
            }
            &.ghost:hover {
                background-color: rgba(23, 23, 23, 0.5);
            }
        }

        .button:hover {
            background-color: $dark-orange;
            color: $off-white;
        }

        .off-white {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange;
                    background-color: $off-white;
                    color: $orange;
                }
            }
        }

        .white {
            .button {
                background-color: $orange;
                color: $off-white;

                &.ghost {
                    border: rem-calc(1px) solid $orange;
                    background-color: $off-white;
                    color: $orange;
                }
            }

        }

        .light-grey {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange;
                    background-color: $off-white;
                    color: $orange;
                }
            }
        }

        .beige {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange;
                    background-color: $off-white;
                    color: $orange;
                }
            }
        }

        .dark-beige {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange;
                    background-color: $off-white;
                    color: $orange;
                }
            }
        }

        .light-beige {
            .button {
                &.ghost {
                    border: rem-calc(1px) solid $orange;
                    background-color: $off-white;
                    color: $orange;
                }
            }
        }
    }
}



@media screen and (max-width:465px) {
    .button {
        width: 100%;
    }

    .button-group {
        flex-direction: column;
        .button {
            width:100%;
            margin-bottom: rem-calc(20px);
        }
    }
}