/* ============================================================
    STATIC CALLOUTS
============================================================ */

.callout {
    color: $off-black;
    border: none;
    background-color: $light-beige;
    padding: rem-calc(30px);
    //display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;

    &.roomy {
        padding: rem-calc(60px);
    }

    &.beige {
        background-color: $beige;
    }

    &.dark-beige {
        background-color: $dark-beige;
    }

    &.light-grey {
        background-color: $light-grey;
    }

    &.white {
        background-color: $pure-white;
    }

    &.outline {
        border: rem-calc(1px) solid $grey-60 !important;
        background-color: $pure-white !important;

        &.blue {
            border-color: $blue-60 !important;
        }
    }

    &.nested {
        border: rem-calc(15px) solid $blue !important;
        border-radius: 0px !important;
        background-color: $pure-white !important;

        &.orange {
            border-color: $orange !important;
        }
    }

    &.jump-right {
        margin-right: rem-calc(-2.75em);
        margin-bottom: 0;

        @media screen and (max-width: $small-screen) {
            margin-right: 0;
        }
    }

    &.jump-left {
        margin-left: rem-calc(-2.75em);
        margin-bottom: 0;

        @media screen and (max-width: $small-screen) {
            margin-left: 0;
        }
    }

    hr {
        margin: 0 auto 1.11111rem auto;
    }
}

//---------White callouts on .color bleeds default
.bleed {
    &.color .callout {
        background-color: $pure-white !important;
        color: $off-black !important;

        .fa-circle {
            color: $grey-50;
        }

        &:hover {
            .fa-circle {
                color: $dark-grey;
            }
        }

        p,
        figcaption,
        blockquote {
            color: $off-black !important;
        }

        p.color {
            color: $blue !important;
        }

    }

}

.sidecar {
    .callout {
        background-color: $dark-grey;
        color: $off-white;
    }

    .outline {
        border-color: $grey !important;
        background-color: $pure-white;
        color: $off-black;

        @media screen and (max-width: $medium-screen) {
            margin-bottom: 0;
        }
    }

    &.light-beige {
        background-color: $pure-white !important;

        .callout {
            background-color: $light-beige !important;
            color: $off-black;
        }

        .outline {
            border-color: $gold !important;
            border-right: none !important;
            background-color: $pure-white !important;

            @media screen and (max-width: $medium-screen) {
                border: rem-calc(1px) solid $gold !important;
            }
        }
    }

    &.grey {
        .callout {
            background-color: $light-grey;
            color: $off-black;
        }

        .outline {
            border-color: $dark-grey !important;
            border-right: none !important;

            @media screen and (max-width: $medium-screen) {
                border: rem-calc(1px) solid $dark-grey !important;
            }
        }
    }
}


/* ============================================================
    INTERACTIVE CALLOUTS
============================================================ */

a.callout {
    display: block;
    background-color: $orange;
    transition: background-color 0.5s ease-in-out;
    color: $off-white;
    border-radius: 5px;
    /*make variable*/
    text-align: center;
    @extend %jump-base;

    .ruled {
        border-bottom: 1px solid $off-white;
    }

    .fa-circle {
        color: rgba(23, 23, 23, 0.35);
        transition: color 0.52s ease-out;
    }

    &.darken

    /*replace w/ dark-orange*/
        {
        .fa-circle {
            color: rgba(241, 245, 247, 0.35);
        }
    }

    &.dark-grey {
        .fa-circle {
            color: rgba(241, 245, 247, 0.35);
        }
    }

    &.noise {
        background: $orange url(../images/noise-texture.png);
    }

    &.rocky {
        background: $orange url(../images/rockywall-texture.png);
    }

    &.special {
        text-align: left;
        background: linear-gradient(to bottom, $off-white 0%, $off-white 25%, $off-white 50%, $off-white 75%, $gold 75.1%, $gold 78%, $dark-grey 78.1%, $dark-grey 100%);

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $orange;
        }

        p {
            color: $off-black;
        }

        .circle {
            text-align: right;

            .fa-circle {
                color: $tangerine;
/*               text-shadow: 3px 3px 7px rgb(23, 23, math.div(23, 35)); */
                transition: none;
            }
        }
    }
}

a.callout:hover {
    background-color: $dark-orange !important;
    color: $off-white !important;
    @extend %jump-hover;

    .fa-circle {
        color: rgba(241, 245, 247, 0.35);
    }

    &.noise {
        background: $dark-orange url(../images/noise-texture.png) !important;
    }

    &.rocky {
        background: $dark-orange url(../images/rockywall-texture.png) !important;
    }

    &.darken {
        background-color: $orange !important;
    }

    &.blue {
        background-color: $blue-80 !important;
    }

    &.grey {
        background-color: $dark-grey !important;

        .fa-circle {
            color: rgba(241, 245, 247, 0.35);
        }
    }

    &.dark-grey {
        background-color: $grey !important;
    }

    &.special {
        background: none;
        background-color: $dark-grey;
        transition: .8s ease-out;

        & h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $off-white;
        }

        & .fa-circle {
            color: $off-white;
        }

        & .fa-inverse {
            color: $orange;
        }
    }
}