/* ============================================================
    DATES
============================================================ */

// Plain text event
.event {
    max-width: rem-calc(450px);
    display: flex;
    align-items: center;
    margin: 0 0 rem-calc(15px) 0;

    .date {
        max-width: rem-calc(60px);
        margin-right: rem-calc(20px);

        .month {
            font-weight: 800;
            font-size: rem-calc(22px);
            text-transform: uppercase;
            line-height: 1;
            text-align: center;
        }
        .day {
            font-weight: 900;
            font-size: rem-calc(40px);
            line-height: 1;
            text-align: center;
        }

    }

    .details {
        padding-left: rem-calc(5px);
        .name {
            font-weight: 600;
        }
        .date {
            font-weight: 300;
            max-width: none;
        }
    }
}

a.event {
    &.long { // Long event
        max-width: rem-calc(450px);
        background: $beige;
        //padding: rem-calc(10px) rem-calc(20px);
        border-radius: $rounded-corners;
        box-shadow: $shadow-3;
        @extend %jump-base;
        margin: 0 0 rem-calc(15px) 0;
        padding-right: rem-calc(20px);

        .date {
            background: $orange;
            color: $off-white;
            padding: rem-calc(15px) rem-calc(25px);
            max-width: unset;
            border-bottom-left-radius: $rounded-corners;
            border-top-left-radius: $rounded-corners;
            transition: .4s ease-in-out;

            //flex-grow: 1;
        }

        .details {
            //padding-left: rem-calc(15px);
            padding-right: rem-calc(15px);
            flex-grow: 1;

            .name {
                color: $orange;
                font-weight: 700;
                margin-bottom: 0;
                transition: .4s ease-in-out;
            }
        }

        .arrow {
            flex-grow: 2;
        }
        .arrow::after {
            position: relative;
            display: block;
            font-family: "Font Awesome 5 Free solid";
            font-weight: 900;
            font-size: rem-calc(40px);
            content: "\f105";
            margin-right: rem-calc(12px);
            float: right;
        }
    }
}

a.event:hover {
    &.long { // Long event
        box-shadow: rem-calc(3px 8px 7px 0) rgba(23, 23, 23, 0.35);
        @extend %jump-hover;
        .date {
            background: $dark-orange;
        }

        .details {
            .name {
                color: $dark-orange;
            }
        }
    }
}

.datebox {
    width: rem-calc(85px);
    margin-right: rem-calc(20px);
    color: $off-white;

    .month {
        font-weight: 800;
        font-size: rem-calc(20px);
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        background: $dark-grey;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .day {
        font-weight: 900;
        font-size: rem-calc(36px);
        line-height: 1;
        text-align: center;
        background: $grey;
        padding-top: 10px;
        padding-bottom: 10px;

        &.multi {
            font-size: rem-calc(22px);
            padding-top: rem-calc(15px);
            padding-bottom: rem-calc(15px);
        }
    }

    &.blue {
        .month {
            background: $blue-80;
        }
        .day {
            background: $blue;
        }
    }
}

a .datebox { // Interactive datebox
    width: rem-calc(85px);
    margin-right: rem-calc(20px);
    border-radius: $rounded-corners;
    @extend %jump-base;

    .month {
        background: $dark-orange;
        border-top-left-radius: $rounded-corners;
        border-top-right-radius: $rounded-corners;
    }
    .day {
        background: $orange;
        border-bottom-left-radius: $rounded-corners;
        border-bottom-right-radius: $rounded-corners;
    }
}

a .datebox:hover {
    @extend %jump-hover;
    color: $off-white;
}