/* ============================================================
    FORM ELEMENTS
============================================================ */

label {
    font-weight: 700;
}

fieldset {
    legend {
        font-weight: 700;
    }

    label {
        font-weight: 500;
    }
}

input[type=text],
input[type=password],
input[type=checkbox],
input[type=radio],
textarea,
select {
    border: rem-calc(1px) solid $off-black;
    border-radius: rem-calc(5px);
    background-color: $off-white;
    font-size: rem-calc(18px);

    @media (prefers-color-scheme: dark) {

        &:focus {
            background-color: $off-white !important;
            color: $off-black;
        }
    }
}

input[type=checkbox],
input[type=radio] {
    cursor: pointer;
}

input[type=text]:focus-visible,
input[type=password]:focus-visible,
input[type=checkbox]:focus-visible,
input[type=radio]:focus-visible,
input[type=search]:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline-color: $blue;
    outline-width: rem-calc(8px);
    outline-offset: rem-calc(10px);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
textarea:focus,
input[type=checkbox]:focus,
select:focus {
    border: rem-calc(1px) solid $blue;
    background-color: rgba($blue, 0.05);
    transition: none;
    box-shadow: 0 0 0 5px rgba($blue-50, .25);
}

input[type=checkbox] {
    width: rem-calc(25px);
    height: rem-calc(25px);
    appearance: none;
    margin-top: rem-calc(12px);
    margin-bottom: rem-calc(-5px); //review
}

input[type=checkbox]:checked {
    background: url(../images/check-solid.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: rem-calc(18px);
}

input[type=checkbox]+label {
    margin-bottom: rem-calc(15px);
}

input[type=radio] {
    width: rem-calc(16px);
    height: rem-calc(16px);
}

.is-invalid-label {
    color: $red;
}

.is-invalid-input:not(:focus) {
    border-color: $red;
}

.is-invalid-input[type=text]:focus {
    background-color: #f9ecea;
    box-shadow: 0 0 0 5px rgba(174, 0, 20, .30);
}

legend {
    margin-bottom: auto;
}

select {
    background-image: url(../images/angle-down-solid.svg);
    background-size: rem-calc(13px 16px);
}

/*label.search {

    background-image: url(../../images/search-solid.svg);

    textarea:focus{
        border: rem-calc(1.5px) solid $dark-grey;
        background-color: $off-white;
        transition: none;
    }
}*/

form.search {
    width: 100%;
    position: relative;
    display: flex;
    border: rem-calc(1px) solid $off-black;
    border-radius: rem-calc(5px);
    background-color: $off-white;
    font-size: rem-calc(18px);
    align-items: center;

    .search-box {
        width: 100%;
        border-right: none;
        padding: 5px;
        outline: none;
        color: $off-black;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin: 0;
        box-shadow: unset;
        background-color: $off-white;
    }

    input[type=search] {
        border: unset;
    }

    button {
        width: 40px;
        height: 39px;
        /*border: 1px solid $off-black;*/
        background: $off-white;
        text-align: center;
        color: $off-black;
        border-radius: 0 8px 8px 0;
        cursor: pointer;
    }
}