/* ============================================================
    HERO BANNERS
============================================================ */
header.super-hero+.hero {

    &.mission {

        @media screen and (min-width:850px) {
            //height: rem-calc(1440px);

            z-index: -1;
            height: auto;

            &.img-fill {

                img,
                video {
                    position: relative;
                }
            }

            & .callout {
                padding: rem-calc(18px);
                position: absolute;
                top: 50%;

                h1 {
                    font-size: 80px;
                    font-family: $sans-serif-font;
                    font-weight: 700;

                }
            }

        }

        @media screen and (max-width:850px) {
            &.img-fill {

                img, video {
                    position: relative;
                }
            }

            & .callout {
                padding: rem-calc(18px);
                position: absolute;
                top: 50%;

                h1 {
                    font-family: $sans-serif-font;
                    font-weight: 700;

                }

            }

        }
    }

    @media screen and (min-width:850px) {
        .grid-container {
            margin-top: rem-calc(134px);

        }

        .callout {
            margin-bottom: 0;

            &.mission {
                margin-left: 0;

                h1 {
                    font-size: 80px;
                    font-family: $sans-serif-font;
                    font-weight: 700;

                }
            }

        }

    }


}

.hero {
    &.img-fill {
        background-color: transparent !important;
        overflow: clip; //Hidden produces a strange margin between hero area and new nav design. Clip accomplishes the same effect with no extra margins
    }

    & .callout {
        padding: rem-calc(30px);
        background: rgba(26, 36, 41, 0.85);
        color: $off-white;

        &.grey {
            background-color: rgba(26, 36, 41, 0.85);
            color: $off-white !important;
        }

        &.white {
            background: rgba(241, 245, 247, 0.85);
            color: $off-black !important;
        }

        &.orange {
            background: rgba(148, 41, 0, 0.85);
            color: $off-white !important;
        }
    }

    //========== Gradient hero

    @media screen and (min-width:870px) {
        &.gradient {

            &.grey {

                &.left {
                    background: $grey-gradient-left;
                }

                &.right {
                    background: $grey-gradient-right;
                }
            }

            &.orange {

                &.left {
                    background: $orange-gradient-left;
                }

                &.right {
                    background: $orange-gradient-right;
                }
            }

            &.white {

                &.left {
                    background: $white-gradient-left;
                }

                &.right {
                    background: $white-gradient-right;
                }
            }

            .callout {
                background: transparent;
            }
        }
    }
}