/* ============================================================
    ICONS
============================================================ */

// ======= Misc icon styles
i.fa-inverse {
    color: $off-white;
}

// ======= Linked icons
a:not(.callout) {

    &.fa-stack,
    span.fa-stack {
        color: $orange !important;

        i {
            transition: .3s ease-in-out;
        }
    }

    &:hover {
        .fa-circle {
            color: $dark-orange;
        }

        .fa-stack-1x {
            font-size: 110%;
        }
    }
}

a.fa-stack.fa-5x {
    margin-bottom: 30px
}

// ====== Inline Icon List (e.g. Provider Profile & staff alt profile)
ul.inline {
    li {
        margin-right: 1.5rem;
    }
}

// ======= Bleed icons
.bleed {
    span.fa-stack {
        color: $blue;

        &.fa-5x {
            margin-bottom: rem-calc(30px) !important;
        }

        &.grey {
            color: $dark-grey !important;
        }
    }

    &.color {
        span.fa-stack {
            color: $blue-custom;
        }

        &.dark-grey {
            span.fa-stack {
                color: $blue-50;
            }

            a {
                >.fa-5x {
                    >.fa-stack-2x {
                        color: $tangerine !important;
                    }
                }
            }
        }
    }
}

.callout {
    .fa-stack {
        color: $blue-70;
    }

    .fa-stack {
        margin-bottom: 0;
    }
}

.contact {
    .fa-stack-2x {
        color: $orange;
    }

    .fa-stack:hover {
        .fa-stack-2x {
            color: $dark-orange;
        }
    }

    a>span.fa-stack {
        height: 1rem;
    }

    a {
        .fa-circle {
            text-shadow: rem-calc(3px 3px 7px) rgba(23, 23, 23, 0.50);
        }
    }

    ul.fa-ul {
        .fa-li {
            text-indent: rem-calc(-0.75em);
        }

        li {
            margin-bottom: rem-calc(18px);
        }
    }

    address {
        ul {
            margin: 0 !important;

            li {
                list-style-type: none !important;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }
}

// ======= Outline circles
.fa-ul {
    &.outline {
        .far {
            &.fa-circle {
                color: $grey;
            }
        }

        .fa-stack {
            >.fa-stack-1x {
                color: $grey;
            }
        }
    }
}

.far {
    &.fa-circle {
        color: $grey;
    }
}

.fa-stack {
    &.outline {
        >.fa-stack-1x {
            color: $grey;
        }
    }
}

a .fa-stack.outline {
    .fa-stack-2x {
        color: $orange;
    }

    .fa-stack-1x {
        color: $orange;
    }

    &:hover {
        .fa-stack-2x {
            color: $dark-orange;
        }

        .fa-stack-1x {
            color: $dark-orange;
        }
    }
}

.callout {
    li>.fa-stack {
        margin-bottom: rem-calc(11px);
    }
}

// ======= Event/Jump link style inline icons
ul.fa-ul {
    li {
        margin-bottom: 1rem;

        .fa-li {
            text-indent: -0.75em;
        }

        a {
            span:last-of-type {
                margin-left: 0;
            }

            vertical-align: middle;
        }
    }

    // Special jump link styles
    &.jump-links {
        margin: 0;

        li {
            margin-bottom: 1rem;

            .fa-li {
                left: 0;
            }
        }
    }
}

// ======= Social media buttons


.social {
    ul {
        margin: 0 1.25rem 1.25rem 0rem;

        >li {
            display: inline-block;
            list-style-type: none;

            a {
                .fa-2x {
                    font-size: 1.5em
                }

                .fa-stack-2x {
                    color: $off-white;
                    border-radius: rem-calc(6px);
                    transition: .2s ease-in-out;
                }

                .fa-stack-1x {
                    color: $orange;
                    transition: .3s ease-in-out;
                }

                .fa-square {
                    /*Needs text shadow not box because it's an icon*/
                    text-shadow: rem-calc(3px 3px 7px) rgba(23, 23, 23, 0.50);
                }

                &:hover {
                    .fa-stack-2x {
                        color: $orange;
                    }

                    .fa-stack-1x {
                        color: $off-white;
                    }
                }
            }
        }
    }
}

footer {
    .social {
        ul {
            li {
                margin-right: rem-calc(7px);

                a {
                    color: $off-white;

                    &:hover {
                        color: $grey-link;
                    }

                    .fa-2x {
                        font-size: rem-calc(40px)
                    }
                }
            }
        }
    }
}

// ======= Back to top
.top-page {
    background: $off-white;
    box-shadow: $shadow;
    border-radius: .33rem;
    color: $orange;
    text-align: center;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 99;
    padding: .5rem 1rem .5rem 1rem;
    transition: .3s ease-in-out;

    i {
        font-size: rem-calc(22px);
        color: $orange;
        transition: .3s ease-in-out;
    }

    span {
        display: block;
    }

    &:hover {
        color: $dark-orange;

        i {
            color: $dark-orange;
        }
    }
}

@media screen and (max-width:465px) {
    .top-page {
        top: 75%;

        i {
            font-size: rem-calc(18px);
        }
    }
}

.icons-inline {
    .fa-stack {
        margin-left: 1rem;
    }
}

// ======= Footer icons
footer {
    .contact {
        .fas {
            &.fa-circle {
                color: $off-white;
            }
        }

        .fa-inverse {
            color: $dark-grey
        }
    }
}

footer.mission {
    .contact {
        .fas {
            &.fa-circle {
                color: $orange;
            }
        }

        .fa-inverse {
            color: $off-white
        }
    }
}