/* ==============================
    Grid Adjustments
============================== */

.grid-container {
    max-width: $global-width;

    &.stripped {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.no-top {
        padding-top: 0;
    }

    &.no-bottom {
        padding-bottom: 0;
    }
}

/* ==============================
    Padding Helpers
============================== */
// Add -# to muliple the padding size from the default (e.g. padding-2 is 60 because 30x2 = 60)

.padding {
    padding: rem-calc(30px);
}

.padding-2 {
    padding: rem-calc(60px);
}

.padding-3 {
    padding: rem-calc(90px);
}

.padding-4 {
    padding: rem-calc(120px);
}

.padding-top {
    padding-top: rem-calc(30px);
}

.padding-top-2 {
    padding-top: rem-calc(60px);
}

.padding-top-3 {
    padding-top: rem-calc(90px);
}

.padding-top-4 {
    padding-top: rem-calc(120px);
}

.padding-bottom {
    padding-bottom: rem-calc(30px);
}

.padding-bottom-2 {
    padding-bottom: rem-calc(60px);
}

.padding-bottom-3 {
    padding-bottom: rem-calc(90px);
}

.padding-bottom-4 {
    padding-bottom: rem-calc(120px);
}

.padding-top-bottom {
    padding: rem-calc(30px 0 30px 0);
}

.padding-top-bottom-2 {
    padding: rem-calc(60px 0 60px 0);
}

.padding-top-bottom-3 {
    padding: rem-calc(90px 0 90px 0);
}

.padding-top-bottom-4 {
    padding: rem-calc(120px 0 120px 0);
}

/* ==============================
    Margin Helpers
============================== */
// Add -# to muliple the margin size from the default (e.g. margin-2 is 60 because 30x2 = 60)

// Still need to convert to REM

.margin {
    margin: rem-calc(30px);
}

.margin-2 {
    margin: rem-calc(60px);
}

.margin-3 {
    margin: rem-calc(90px);
}

.margin-4 {
    margin: rem-calc(120px);
}

.margin-top {
    margin-top: rem-calc(30px);
}

.margin-top-2 {
    margin-top: rem-calc(60px);
}

.margin-top-3 {
    margin-top: rem-calc(90px);
}

.margin-top-4 {
    margin-top: rem-calc(120px);
}

.margin-bottom {
    margin-bottom: rem-calc(30px);
}

.margin-bottom-2 {
    margin-bottom: rem-calc(60px);
}

.margin-bottom-3 {
    margin-bottom: rem-calc(90px);
}

.margin-bottom-4 {
    margin-bottom: rem-calc(120px);
}

.margin-top-bottom {
    margin: rem-calc(30px 0 30px 0);
}

.margin-top-bottom-2 {
    margin: rem-calc(60px 0 60px 0);
}

.margin-top-bottom-3 {
    margin: rem-calc(90px 0 90px 0);
}

.margin-top-bottom-4 {
    margin: rem-calc(120px 0 120px 0);
}

.close {
    margin-bottom: 0;
}

/* ==============================
    Interactive jump animation
============================== */

//Apply %jump-base to base element
%jump-base {
    transition: .3s ease-in-out;
    box-shadow: $shadow;
}

//Apply jump-hover to :hover state
%jump-hover {
    transform: translateY(-.3rem);
    box-shadow: $shadow-hover;
}

//super secret class shhhhhh
/*.gradient {
    background: linear-gradient(to right, $gold 10%, $orange 50%, $dark-orange 75%);
    ;
}*/

.columns {
    -webkit-columns: 2 290px;
    -moz-columns: 2 290px;
    columns: 2 290px;

    address {
        break-inside: avoid;
    }
}

@media screen and (min-width: 1024px) {
    div.multi-column-list-2 ul {
        column-count: 2;
    }

    div.multi-column-list-3 ul {
        column-count: 3;
    }

    div.multi-column-list-2 ul>li,
    .multi-column-list-3 ul>li {
        break-inside: avoid;
    }
}

.brush-circle {
    mask path {
        fill: none;
        stroke: white;
        stroke-width: 40;
        stroke-dasharray: 325 325;
        stroke-dashoffset: 325;
        animation: brush .5s linear forwards;
    }

    @keyframes brush {
        0% {
            stroke-dashoffset: 325;
        }

        20% {
            stroke-dashoffset: 325;
        }

        80% {
            stroke-dashoffset: 0;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    .circle-red {
        fill: $dark-orange;
    }
}