nav.orbit-bullets {

    ul {

        list-style-type: none;

        button {
            background-color: $off-white;
            border: 2px solid $orange;
            transition: .1s ease-in-out;

            &:hover {
                background-color: $dark-orange;
                border: none;
            }

            &.is-active {
                background-color: $orange;

            }
        }
    }

}

.color {
    nav.orbit-bullets {
        button {
            border: none;

            &:hover {
                background-color: $blue-80;
                border: none;
            }

            &.is-active {
                background-color: $blue-link;

            }
        }
    }

    &.grey {
        nav.orbit-bullets {
            button {
                border: none;

                &:hover {
                    background-color: $grey-90;
                }

                &.is-active {
                    background-color: $grey-link;

                }
            }
        }
    }

    &.orange {
        nav.orbit-bullets {
            button {
                background-color: $off-white;
                border: none;

                &:hover {
                    background-color: $dark-orange;
                }

                &.is-active {
                    background-color: $orange-10;

                }
            }
        }
    }
}

.orbit-controls {

    button.orbit-previous {
        span:after {
            position: absolute;
            display: block;
            right: 0;
            font-family: "Font Awesome 5 Free";
            color: $orange;
            font-weight: 900;
            font-size: rem-calc(60px);
            content: "\f104";
        }
    }

    button.orbit-next {
        span:after {
            position: absolute;
            display: block;
            left: 0;
            font-family: "Font Awesome 5 Free";
            color: $orange;
            font-weight: 900;
            font-size: rem-calc(60px);
            content: "\f105";
        }
    }
}