/* ============================================================
    TABS

    Variants: Pill, Manila, Folding
============================================================ */

div.tab-container {

    ul.tabs {
        // ======= Floating style
        background: $orange;
        text-align: center;
        border: none;

        li.tabs-title {
            position: relative;
            background: $orange;
            display: inline-block;
            float: none;

            a {
                color: $off-white;
                font-weight: 700;
                font-size: 1rem;
                transition: .3s ease-in-out;

                &:hover,
                &:focus,
                &:visited {
                    background: $dark-orange;
                }

                &:after {
                    position: absolute;
                    content: '';
                    height: rem-calc(2.5px);
                    bottom: 0;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    width: 30%;
                    background: transparent;
                    transition: .2s .1s;
                }

                &:hover:after {
                    background: $gold;
                }
            }

            &.is-active {
                a {
                    background: $orange;
                    font-weight: 900;

                    &:hover {
                        background: $orange;
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        height: rem-calc(2.5px);
                        bottom: 0;
                        margin: 0 auto;
                        left: 0;
                        right: 0;
                        width: 100%;
                        background: $gold;
                    }
                }
            }
        }

        //Color options


        //manila style
        &.manila {
            text-align: left;
            background: transparent;
            overflow: auto;
            white-space: nowrap;

            li.tabs-title {
                margin-right: .5rem;
                border-radius: .3rem .3rem 0 0;

                a {
                    padding: .75rem 1rem .75rem 1rem;

                    &:after {
                        display: none;
                    }
                }

                &.is-active {
                    a {
                        background: $light-beige;
                        color: $off-black;

                        &:hover {
                            background: $beige;
                        }
                    }
                }
            }

            &.color {
                li.tabs-title {
                    a {
                        background: $blue;
                        color: $off-white;

                        &:hover {
                            background: $blue-70;
                        }
                    }

                    &.is-active {
                        a {
                            background: $off-white;
                            color: $grey-90;
                        }
                    }
                }
            }
        }

        &.pill {
            // ======= Pill style
            background: transparent;
            overflow: auto;
            white-space: nowrap;


            li.tabs-title {
                margin-right: rem-calc(-5px);
                background: transparent;

                &:first-child a {
                    border-top-left-radius: 1rem;
                    border-bottom-left-radius: 1rem;
                }

                &:last-child a {
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }

                a {
                    background: $orange;
                    color: $off-white;
                    font-weight: 700;
                    font-size: 1rem;
                    transition: .3s ease-in-out;

                    &:hover {
                        background: $dark-orange;

                        &:after {
                            display: none
                        }
                    }
                }

                &.is-active {
                    a {
                        background: $dark-orange;
                        font-weight: 900;

                        &:after {
                            display: none;
                        }
                    }
                }
            }

            &.color {
                li.tabs-title {
                    a {
                        background: $off-white;
                        color: $grey-90;

                        &:hover {
                            background: $blue;
                            color: $off-white;
                        }
                    }

                    &.is-active {
                        a {
                            background: $blue;
                            color: $off-white;
                        }
                    }
                }
            }
        }
    }

    .tabs-content {
        background: $light-beige;
        border: 0;
    }

    .pill~.tabs-content {
        margin-top: 1rem;
    }

    .pill.color~.tabs-content {
        background: $off-white;
    }

    .manila.color~.tabs-content {
        background: $off-white;
    }

    &.color {
        ul.tabs {
            background: $blue;

            li.tabs-title {
                background: $blue;

                a {

                    &:hover,
                    &:focus,
                    &:visited {
                        background: $blue-70;
                    }

                    &:hover:after {
                        background: $blue-10;
                    }
                }

                &.is-active {
                    a {
                        background: $blue;

                        &:hover {
                            background: $blue;
                        }

                        &:after {
                            background: $blue-10;
                        }
                    }
                }
            }
        }

        .tabs-content {
            background: $light-grey;
        }

        &.grey {
            ul.tabs {
                background: $grey;

                li.tabs-title {
                    background: $grey;

                    a {

                        &:hover,
                        &:focus,
                        &:visited {
                            background: $grey-90;
                        }

                        &:hover:after {
                            background: $grey-10;
                        }
                    }

                    &.is-active {
                        a {
                            background: $grey;

                            &:hover {
                                background: $grey;
                            }

                            &:after {
                                background: $grey-10;
                            }
                        }
                    }
                }
            }

            .tabs-content {
                background: $light-grey;
            }
        }
    }

}