    /* ============================================================
    TAGS
============================================================ */

    .tags {
        padding-bottom: rem-calc(30px);

        @media screen and (max-width: 355px) {
            margin-bottom: rem-calc(30px);
        }

        a {
            background-color: $light-beige;
            padding: .5rem 1rem;
            border-radius: $rounded-corners;
            @extend %jump-base;


        }

        li {
            background-color: transparent;
            font-weight: $bold-font-weight;
            list-style-position: outside;
            list-style-type: none;
            display: inline-block;
            margin: 0 1.25rem 1.25rem 0;
            transition: .3s ease-in-out;

            &:hover {
                @extend %jump-hover;
            }

            @media screen and (max-width: 360px) {
                padding-bottom: rem-calc(30px);
            }
        }
    }

    ul ul.tags {
        margin-left: 0;
    }

    div.lines ul li,
    div.lines ol li {
        .tags>li {
            border-bottom: none;

            @media screen and (max-width: 355px) {
                padding: 0;
                ;
            }
        }
    }