/* ============================================================
    TEXT STYLES
============================================================ */

//Setting rem size to 16px by default
html {
    font-size: 16px;
}

//Setting text size to 18px
body {
    font-size: 18px;
}

/*============== RESPONSIVE HEADING SIZES ===================
For the base heading sizes, rem-calc() is not calculating properly, so please leave the sizes in pixels.
*/
h1,
.h1 {
    font-size: 54px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 45px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 34px;
    }

}

h2,
.h2 {
    font-size: 45px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 37px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 28px;
    }

}

h3,
.h3 {
    font-size: 36px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 32px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 26px;
    }

}

h4,
.h4 {
    font-size: 32px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 26px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 23px;
    }
}

h5,
.h5 {
    font-size: 27px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 20px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 20px;
    }
}

h6,
.h6 {
    font-size: 18px;
}

.supersize {
    font-size: 80px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 54px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 38px;
    }
}

// ======= Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif-font;
}

body {
    font-family: $sans-serif-font;
    line-height: 1.2;
}


//eyebrow style
p.eyebrow {
    font-size: 18px;
    font-family: $serif-font;

    +h1,
    +h2,
    +h3,
    +h4,
    +h5 {
        margin-top: rem-calc(-18px);
    }

    @media screen and (max-width: $small-screen) {
        font-size: 16px;
    }
}

h1,
.h1 {
    margin-bottom: rem-calc(15px);
    line-height: 1.2;
    font-family: $serif-font;
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $serif-font;
    margin-bottom: rem-calc(18px);
    line-height: 1.3;
}


label {
    font-family: $sans-serif-font;
    font-size: rem-calc(18px);
}

address {
    font-style: normal;
    margin-bottom: 1rem;
}

strong {
    font-weight: 900;
}

.lead {
    font-size: 32px;
}

.black {
    font-weight: $black-font-weight;
}

.bold {
    font-weight: $bold-font-weight;
}

.sans-serif {
    font-family: $sans-serif-font !important;
}

.serif {
    font-family: $serif-font !important;
}



.text-center {
    text-align: center;
}

h1+.subheader,
h1+.subheader+.subheader,
h1+.subheader+.subheader+.subheader {
    font-family: $sans-serif-font;
    color: $off-black;
    font-size: rem-calc(32px);
    margin-top: rem-calc(-10px);

    &.small {
        font-size: rem-calc(25px);

        @media screen and (max-width: 569px) {
            font-size: rem-calc(22px);
        }
    }

    @media screen and (max-width: 569px) {
        font-size: rem-calc(22px);
    }
}

.subheader+.subheader {
    margin-top: rem-calc(-18px) !important;
}

h2+.subheader {
    font-size: rem-calc(25px);
    font-family: $sans-serif-font;
    color: $off-black;
    margin-top: rem-calc(-24px);

    &.small {
        font-size: rem-calc(25px);

        @media screen and (max-width: 569px) {
            font-size: rem-calc(20px);
        }
    }

    @media screen and (max-width: 569px) {
        font-size: rem-calc(20px);
    }
}

.callout {

    &.orange,
    &.grey {
        .subheader {
            color: $off-white;
        }
    }
}

.subheader+.subtext {
    margin-top: rem-calc(-5px);
}

// ======= Colorized headings and paragraph text
h1,
h2,
h3,
h4,
h5,
h6,
p {

    &.color {
        color: $blue;
        background-color: transparent;
    }

    &.filled {
        color: $off-white !important;
        background-color: $blue;
    }
}

p {

    &.light {
        font-weight: 100;
    }

    &.large {
        font-size: 24px;
        ;
    }
}

.ruled {
    padding-bottom: 0.25em;
    border-bottom: #808a8f rem-calc(1px) solid;
}

.required {
    color: $red;
    font-weight: 900;
    font-size: rem-calc(20px);
}

// ======= Figcaption
figcaption {
    color: $blue;
    font-style: italic;
    padding: rem-calc(2px);
    text-align: center;
    text-align: left;

    &.small {
        font-size: rem-calc(14px);
    }

    &.large {
        font-size: rem-calc(22px);
    }

    &.grey {
        color: $dark-grey;
    }
}

.color figcaption {
    color: $off-white !important;
}

// ======= Links

/*%old-underline {
    border-radius: 1rem;
    border-top: .15rem solid $orange;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: right .5s cubic-bezier(.5, .5, 0, 1), border-color .5s ease-out;
}

%old-underline-hover {
    border-color: $dark-orange;
    right: 0;
}

%old-underline-color {
    border-radius: 1rem;
    border-top: .15rem solid $off-white !important;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: right .5s cubic-bezier(.5, .5, 0, 1), border-color .5s ease-out;
}

%old-underline-color-hover {
    right: 0;
}*/

%link-underline {
    //background-image: linear-gradient($gold, $gold),linear-gradient(to right, $gold, $gold 10%, $orange 25%, $dark-orange);
    background-image: linear-gradient($orange-underline, $orange-underline), linear-gradient($dark-orange, $dark-orange);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: .5s cubic-bezier(0.37, 0.01, 0.2, 1);
}

%link-underline-hover {
    background-size: 0 2px, 100% 2px;
}

// ======= Overwrite gloabl link effect
a {
    color: $orange;
    text-decoration: none;
    transition: .5s ease-out;

    &:hover {
        color: $dark-orange;
        text-decoration: none;
    }

    &:focus {
        color: $dark-orange;
    }

    /*&:visited:not(.button, .callout, .card) {
        color: $orange;
    }*/
}

// ======= apply links to paragraph text
p {
    >a:not(.button) {
        position: relative;
        text-decoration: none;
        font-weight: $black-font-weight;
        font-size: 18.7px;
        @extend %link-underline;

        &:hover {
            @extend %link-underline-hover
        }
    }

    a.no-underline {
        background-image: none;
    }
}

a.arrow {
    &:after {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        color: $orange;
        margin-left: .3rem;
        transition: .5s ease-out;
    }

    &:hover:after {
        color: $dark-orange;
        transform: translatex(.2rem);
    }
}

a.external {
    &:after {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f35d";
        color: $orange;
        margin-left: .3rem;
        transition: .5s ease-out;
        //transform: rotate(-45deg);
    }

    &:hover:after {
        color: $dark-orange;
        transform: translate(.1rem, -.1rem);

    }
}

a.file {
    &:after {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f56d";
        color: $orange;
        margin-left: .3rem;
        transition: .5s ease-out;
        //transform: rotate(-45deg);
    }

    &:hover:after {
        color: $dark-orange;
        transform: translate(.1rem, -.1rem);

    }
}

//Highlighter Links
a.highlight {
    background-color: $orange;
    color: $off-white;
    background-image: linear-gradient(transparent, transparent), linear-gradient($dark-orange, $dark-orange) !important;

    &:hover {
        color: $dark-orange;
        background-color: inherit;
    }
}

// ======= apply links to paragraph text on colored backgrounds
.color {
    a {
        color: $off-white;


        &:hover {
            color: $off-white;
        }

        &:visited {
            color: $light-grey;
        }
    }

    p>a:not(.button) {
        background-image: linear-gradient($blue-link, $blue-link);
        color: $blue-link;
        padding-left: .5% !important;
        padding-right: .5% !important;


        &:hover {
            background-color: $blue-link;
            color: $blue-90;
        }

        &.arrow,
        &.external {
            &:after {
                color: $blue-link;
            }

            &:hover:after {
                color: $blue-90;
            }
        }

        &.highlight {
            background-color: $blue-10;
            color: $blue-90 !important;
            background-image: linear-gradient(transparent, transparent), linear-gradient($blue-link, $blue-link) !important;

            &:hover {
                color: $blue-link !important;
                background-color: inherit !important;
            }
        }
    }

    &.orange,
    &.darken {
        p>a:not(.button) {
            background-image: linear-gradient($orange-link, $orange-link);
            color: $orange-link;

            &:hover {
                background-color: $light-beige;
                color: $orange-90;
            }

            &.arrow,
            &.external {
                &:after {
                    color: $orange-link;
                }

                &:hover:after {
                    color: $orange-90;
                }
            }

            &.highlight {
                background-color: $light-beige;
                color: $dark-orange !important;
                background-image: linear-gradient(transparent, transparent), linear-gradient($orange-link, $orange-link) !important;

                &:hover {
                    color: $orange-link !important;
                    background-color: inherit;
                }
            }
        }

        cite>a {
            color: $orange-link;

            &:hover {
                color: $light-beige;
            }

        }
        //If link is in a white card/callout, use default link style
        .card,
        .callout {
            a:not(.button) {
                color: $orange;

                &:hover {
                    color: $dark-orange;
                }
        }
        p>a:not(.button) {
            background-image: linear-gradient($orange-underline, $orange-underline);
            color: $orange;
        }
    }
    }

    &.grey,
    &.dark-grey {
        p>a:not(.button) {
            background-image: linear-gradient($grey-link, $grey-link);
            color: $grey-link;

            &:hover {
                background-color: $grey-link;
                color: $grey-90;
            }

            &.arrow,
            &.external {
                &:after {
                    color: $grey-link;
                }

                &:hover:after {
                    color: $grey-90;
                }
            }

            &.highlight {
                background-color: $grey-link;
                color: $grey-90 !important;
                background-image: linear-gradient(transparent, transparent), linear-gradient($grey-link, $grey-link) !important;

                &:hover {
                    color: $grey-link !important;
                    background-color: inherit;
                }
            }
        }

        cite>a {
            color: $grey-link;

            &:hover {
                color: $off-white;
            }

        }
    }

    .card,
    .callout {
        a:not(.button) {
            color: $orange;

            &:hover {
                color: $dark-orange;
            }

        }
    }

    .white {

        //Use default link styles on white backgrounds like callouts or cards
        p {
            >a:not(.button) {
                position: relative;
                text-decoration: none;
                font-weight: $black-font-weight;
                font-size: 18.7px;
                @extend %link-underline;

                &:hover {
                    @extend %link-underline-hover;
                    background-color: unset;
                }
            }

            a.no-underline {
                background-image: none;
            }
        }

        a.arrow {
            &:after {
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f105";
                color: $orange !important;
                margin-left: .3rem;
                transition: .5s ease-out;
            }

            &:hover:after {
                color: $dark-orange !important;
                transform: translatex(.2rem);
            }
        }

        a.external {
            &:after {
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f35d";
                color: $orange;
                margin-left: .3rem;
                transition: .5s ease-out;
                //transform: rotate(-45deg);
            }

            &:hover:after {
                color: $dark-orange;
                transform: translate(.1rem, -.1rem);

            }
        }

        a.file {
            &:after {
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f56d";
                color: $orange;
                margin-left: .3rem;
                transition: .5s ease-out;
                //transform: rotate(-45deg);
            }

            &:hover:after {
                color: $dark-orange;
                transform: translate(.1rem, -.1rem);

            }
        }

        //Highlighter Links
        a.highlight {
            background-color: $orange;
            color: $off-white;
            background-image: linear-gradient(transparent, transparent), linear-gradient($dark-orange, $dark-orange) !important;

            &:hover {
                color: $dark-orange;
                background-color: inherit;
            }
        }
    }
}


.img-fill {
    p>a:not(.button) {
        background-image: linear-gradient($grey-link, $grey-link);
        color: $grey-link;

        &:hover {
            background-color: $grey-link;
            color: $grey-90;
        }

        &.highlight {
            background-color: $grey-link;
            color: $grey-90 !important;
            background-image: linear-gradient(transparent, transparent), linear-gradient($grey-link, $grey-link) !important;

            &:hover {
                color: $grey-link !important;
                background-color: transparent !important;
            }
        }
    }

    .white {

        //Use default link styles on white backgrounds like callouts or cards
        p {
            >a:not(.button) {
                color: $orange;
                position: relative;
                text-decoration: none;
                font-weight: $black-font-weight;
                font-size: 18.7px;
                @extend %link-underline;

                &:hover {
                    @extend %link-underline-hover;
                    color: $dark-orange;
                    background-color: unset;
                }
            }

            a.no-underline {
                background-image: none;
            }
        }

        a.arrow {
            &:after {
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f105";
                color: $orange !important;
                margin-left: .3rem;
                transition: .5s ease-out;
            }

            &:hover:after {
                color: $dark-orange !important;
                transform: translatex(.2rem);
            }
        }

        a.external {
            &:after {
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f35d";
                color: $orange;
                margin-left: .3rem;
                transition: .5s ease-out;
                //transform: rotate(-45deg);
            }

            &:hover:after {
                color: $dark-orange;
                transform: translate(.1rem, -.1rem);

            }
        }

        a.file {
            &:after {
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f56d";
                color: $orange;
                margin-left: .3rem;
                transition: .5s ease-out;
                //transform: rotate(-45deg);
            }

            &:hover:after {
                color: $dark-orange;
                transform: translate(.1rem, -.1rem);

            }
        }

        //Highlighter Links
        a.highlight {
            background-color: $orange;
            color: $off-white;
            background-image: linear-gradient(transparent, transparent), linear-gradient($dark-orange, $dark-orange) !important;

            &:hover {
                color: $dark-orange;
                background-color: inherit;
            }
        }
    }
}

ul:not(.accordion, .menu) a {
    font-weight: 600;
}

.coward {
    font-weight: 600 !important;
}


/* =========================
Date
=================*/

.help-text {
    font-size: rem-calc(16px);
    font-weight: 200;
    color: $off-black;
    font-style: normal;
}

a:focus-visible {
    outline-color: $blue;
    outline-width: rem-calc(8px);
    outline-offset: rem-calc(10px);
}

/* =========================
Tooltip
=================*/

.has-tip {
    color: $dark-grey;
    border-bottom: solid 1px $dark-grey;

}

.tooltip {
    border: solid $blue 1px;
    background-color: $off-white;
    color: $off-black;

    &.right {
        &:before {
            border-color: transparent $blue transparent transparent;
        }
    }

    &.left {
        &:before {
            border-color: transparent transparent transparent $blue;
        }
    }

    &.top {
        &:before {
            border-color: $blue transparent transparent;
        }
    }

    &.bottom {
        &:before {
            border-color: transparent transparent $blue;
        }
    }
}