/* ============================================================

    VARIABLES

    Includes: Typography, Font Weights, Colors, Icons, Shadows, Padding & Margin, Rounded Corners

============================================================ */

// ======= Grid
$global-width: rem-calc(1440px);

// ======= Typography

$serif-font: "Lora", serif;
$sans-serif-font: "Nunito Sans", sans-serif;
$fa-font-path: "node_modules/@fortawesome/fontawesome-free/webfonts/";

// ======= Font Weights

$black-font-weight: 900;
$bold-font-weight: 700;

// ======= Colors

$orange: #AD4200;
$tangerine: #D45D00;
$dark-orange: #7A0F00;
$pure-white: #FFF;
$off-white: #F1F5F7;
$off-black: #171717;
$dark-grey: #333d42;
$grey: #667075;
$light-grey: #E0E5E6;
$dark-beige: #EFE1CC;
$beige: #F0ECE2;
$light-beige: #f7f5f0;
$gold: #FFBC5B;
$orange-10: #FFC17F;
$orange-20: #FFA866;
$orange-30: #FA8F4D;
$orange-40: #E07533;
$orange-50: #c75c1a;
$orange-60: $orange;
$orange-70: #942900;
$orange-80: $dark-orange;
$orange-90: #470000;
$orange-link:#FFDEBD;
$orange-underline:#ffd1a3;
$blue: #257994;
$blue-10: #A4F8FF;
$blue-20: #8BDFFA;
$blue-30: #72C6E1;
$blue-40: #58ACC7;
$blue-50: #3F93AE;
$blue-60: $blue;
$blue-70: #0C607B;
$blue-80: #004661;
$blue-90: #002D48;
$blue-custom:#002648; //custom blue color bc of accessibility for icon circles on blue bleed
$blue-link: #A6FFFF;
$grey-10: #E5EFF4;
$grey-20: #CCD6DB;
$grey-30: #B3BDC2;
$grey-40: #99A3A8;
$grey-50: #808A8F;
$grey-60: $grey;
$grey-70: #4D575C;
$grey-80: $dark-grey;
$grey-90: #1A2429;
$grey-link: #FFF1DB;
$red: #ae0014;

// ======= Icons

$fa-font-size-base: rem-calc(18px) !default;
$fa-fw-width: (20em / 18);

// ======= Shadows

$shadow: rem-calc(3px 3px 7px 0) rgba(23, 23, 23, 0.50); //apply box-shadow to base element (transition .3 ease-in-out)
$shadow-hover: rem-calc(3px 8px 7px 0) rgba(23, 23, 23, 0.50); //apply box-shadow to :hover
$shadow-2: rem-calc(0px 2px 5px 0) rgba(23, 23, 23, 0.35);
$shadow-3: rem-calc(3px 3px 7px 0) rgba(23, 23, 23, 0.35);
//shadow effect for squircle

// ======= Padding & Margin

$top-bottom: rem-calc(30px 0 30px 0);
$top-bottom-2: rem-calc(60px 0 60px 0);

// ======= Rounded Corners

$rounded-corners: rem-calc(5px);

// ======= Gradients

$grey-gradient-left: linear-gradient(-75deg, rgba(26, 36, 41, 0) 20%, rgba(26, 36, 41,0.75), rgba(26, 36, 41,1));
$orange-gradient-left: linear-gradient(-75deg, rgba(148, 41, 0, 0) 20%, rgba(148, 41, 0, 0.75), rgba(148, 41, 0, 1));
$white-gradient-left: linear-gradient(-75deg, rgba(241, 245, 247, 0) 20%, rgba(241, 245, 247,0.75), rgba(241, 245, 247,1));

$grey-gradient-right: linear-gradient(75deg, rgba(26, 36, 41,0) 20%, rgba(26, 36, 41,0.75), rgba(26, 36, 41,1));
$orange-gradient-right: linear-gradient(75deg,  rgba(148, 41, 0, 0) 20%, rgba(148, 41, 0, 0.75), rgba(148, 41, 0, 1));
$white-gradient-right: linear-gradient(75deg, rgba(241, 245, 247,0) 20%, rgba(241, 245, 247,0.75), rgba(241, 245, 247,1));
