<footer class="footer">
  <div class="shell shell--alt grid-container">
    <div class="footer__inner">
      <div class="footer__content grid-x">
        <div class="footer__group cell large-3 medium-6 small-12 footer__group--alt">
          <a href="http://uthscsa.edu">
            <figure class="footer__logo"><img src="../assets/img/svg/logo.svg" alt="Logo"></figure><!-- /.footer__logo -->
          </a>
          <div class="footer__list footer__list--alt">
            <ul class="list-about">
              <li>
                <p>7703 Floyd Curl Drive</p>
              </li>
              <li>
                <p>San Antonio, Texas 78229-3900</p>
              </li>
              <li>
                <p><a href="tel:210-567-7000">210-567-7000</a></p>
              </li>
              <li class="list__location">
                <a href="#">Map and directions</a>
              </li>
              <li>
                <p>Campus Status: <span>Normal</span></p>
              </li>
              <li>
                <p>IT Operations: <span>Normal</span></p>
              </li>
            </ul><!-- /.list-about -->
          </div><!-- /.footer__list -->
        </div><!-- /.footer__group -->

        <div class="footer__group cell large-3 medium-6 small-12">
          <div class="footer__list">
            <h6>Connect with us</h6>
            <ul class="list-basic">
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Contact us</a>
              </li>
              <li>
                <a href="#">Faculty directory</a>
              </li>
              <li>
                <a href="#">Job openings</a>
              </li>
              <li>
                <a href="#">Newsroom</a>
              </li>
            </ul><!-- /.list-basic -->

            <div class="socials footer__socials">
              <ul>
                <li>
                  <a href="#"><img src="../assets/img/svg/social/facebook.svg" alt="Facebook"></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/svg/social/twitter.svg" alt="Twitter"></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/svg/social/instagram.svg" alt="Instagram"></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/svg/social/youtube.svg" alt="Youtube"></a>
                </li>
                <li>
                  <a href="#"><img src="../assets/img/svg/social/linkedin.svg" alt="LinkedIn"></a>
                </li>
              </ul>
            </div><!-- /.socials -->
          </div><!-- /.footer__list -->
        </div><!-- /.footer__group -->

        <div class="footer__group cell large-6 medium-12 small-12">
          <div class="footer__list">
            <h6>Resources</h6>
            <ul class="list-basic list-basic--alt">
              <li>
                <a href="#">Accessibility</a>
              </li>
              <li>
                <a href="#">Compact with Texans</a>
              </li>
              <li>
                <a href="#">Compliance hotline</a>
              </li>
              <li>
                <a href="#">Language assistance</a>
              </li>
              <li>
                <a href="#">Legal</a>
              </li>
              <li>
                <a href="#">Nondiscrimination and Title IX</a>
              </li>
              <li>
                <a href="#">Patient right and responsibilities</a>
              </li>
              <li>
                <a href="#">Policies</a>
              </li>
              <li>
                <a href="#">Public/personal information</a>
              </li>
              <li>
                <a href="#">Report fraud</a>
              </li>
              <li>
                <a href="#">SACSCOC member</a>
              </li>
              <li>
                <a href="#">Sexual misconduct policy and reporting</a>
              </li>
              <li>
                <a href="#">State Auditor’s Office hotline</a>
              </li>
              <li>
                <a href="#">State of Texas</a>
              </li>
              <li>
                <a href="#">Student mental health resources</a>
              </li>
              <li>
                <a href="#">Texas Homeland Security</a>
              </li>
              <li>
                <a href="#">Texas records and information locator</a>
              </li>
              <li>
                <a href="#">Veterans portal</a>
              </li>
            </ul><!-- /.list-basic -->
          </div><!-- /.footer__list -->
        </div><!-- /.footer__group -->
      </div><!-- /.footer__content -->

      <aside class="footer__aside">
        <div class="footer__aside-inner grid-x">
          <div class="footer__entry cell">
            <p>Links from websites affiliated with The University of Texas Health Science Center at San Antonio's website (uthscsa.edu) to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
          </div><!-- /.footer__entry -->
          <div class="copyright footer__copyright cell">
            <p>Copyright 2021 UT Health San Antonio</p>
          </div><!-- /.copyright -->
        </div><!-- /.footer__aside-inner -->
      </aside><!-- /.footer__aside -->
    </div><!-- /.footer__inner -->
  </div><!-- /.shell -->
</footer><!-- /.footer -->
