<header class="header js-header">
  <div class="shell shell--alt">
    <div class="header__inner">
      <div class="header__button">
        <a href="#" class="btn-menu js-burger-button">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div><!-- /.header__button -->
      <div class="logo header__logo">
        <a href="#" class="page__logo"><img src="../assets/img/svg/logo.svg" alt="Logo"></a>
        <a href="#" class="page__title">Patient Care</a>
      </div>
      <aside class="header__aside">
        <nav class="nav header__nav">
          <ul>
            <li>
              <a href="#" class="btn btn-rounded btn-rounded--trans">Academics</a>
            </li>
            <li>
              <a href="#" class="btn btn-rounded btn-rounded--trans">Patient Care</a>
            </li>
            <li>
              <a href="#" class="btn btn-rounded btn-rounded--trans">Research</a>
            </li>
          </ul>
        </nav><!-- /.nav -->

        <div class="header__actions">
          <a href="#" class="btn btn-rounded btn-rounded--outline js-button-find">Find a Provider</a>
        </div><!-- /.header__actions -->
      </aside><!-- /.header__aside -->
    </div><!-- /.header__inner -->
  </div><!-- /.shell -->
</header><!-- /.header -->
