<div class="menu js-menu" tabindex="0" role="menu">
  <div class="shell shell--alt">
    <div class="menu__inner">
      <div class="menu__nav">
        <div class="accordion-nav js-accordion-nav">
          <div class="accordion__section">
            <a href="#" class="accordion__head">
              <h5>Patient Care</h5>
              <figure><img src="../assets/img/svg/ico-chevron.svg" alt="Icon"></figure>
            </a><!-- /.accordion__head -->

            <div class="accordion__body">
              <div class="accordion__content">
                <nav class="nav nav--mobile">
                  <ul>
                    <li>
                      <a href="#">Academics</a>
                    </li>
                    <li>
                      <a href="#">Research</a>
                    </li>
                  </ul>
                </nav><!-- /.nav -->
              </div><!-- /.accordion__content -->
            </div><!-- /.accordion__body -->
          </div><!-- /.accordion__section -->
        </div><!-- /.accordion -->
      </div><!-- /.menu__nav -->

      <div class="search menu__search">
        <div class="search__inner">
          <form action="#" method="get">
            <figure class="search__icon"><img src="../assets/img/svg/ico-google.svg" alt="Google icon"></figure><!-- /.search__icon -->
            <label for="search" class="hidden"></label>
            <input type="text" placeholder="Search UT Health San Antonio" name="search" id="as_q" value="" class="search__field"/>
            <input type="submit" value="GO" class="search__btn"/>
          </form>
        </div><!-- /.search__inner -->
      </div><!-- /.search -->

      <div class="menu__body">
        <div class="accordion accordion-menu js-accordion menu__accordion">
          <div class="accordion__section">
            <a href="#" class="accordion__head">
              <h5>Find Care</h5>
              <figure><img src="../assets/img/svg/ico-chevron.svg" alt="Icon"></figure>
            </a><!-- /.accordion__head -->
            
            <div class="accordion__head">
              <h5>Find Care</h5>
            </div><!-- /.accordion__head -->

            <div class="accordion__body">
              <div class="accordion__content">
                <nav class="nav nav--basic">
                  <ul>
                    <li>
                      <a href="#">Find a Provider</a>
                    </li>
                    <li>
                      <a href="#">Access MyChart</a>
                    </li>
                    <li>
                      <a href="#">Conditions and Treatments</a>
                    </li>
                    <li>
                      <a href="#">Locations</a>
                    </li>
                    <li>
                      <a href="#">UT Health San Antonio MD Anderson Cancer Center</a>
                    </li>
                    <li>
                      <a href="#">Appointments</a>
                    </li>
                  </ul>
                </nav><!-- /.nav -->
              </div><!-- /.accordion__content -->
            </div><!-- /.accordion__body -->
          </div><!-- /.accordion__section -->

          <div class="accordion__section">
            <a href="#" class="accordion__head">
              <h5>About Us</h5>
              <figure><img src="../assets/img/svg/ico-chevron.svg" alt="Icon"></figure>
            </a><!-- /.accordion__head -->
            
            <div class="accordion__head">
              <h5>About Us</h5>
            </div><!-- /.accordion__head -->

            <div class="accordion__body">
              <div class="accordion__content">
                <nav class="nav nav--basic">
                  <ul>
                    <li>
                      <a href="#">About UT Health San Antonio</a>
                    </li>
                    <li>
                      <a href="#">News and Stories</a>
                    </li>
                    <li>
                      <a href="#">Careers</a>
                    </li>
                    <li>
                      <a href="#">Academics and Education</a>
                    </li>
                    <li>
                      <a href="#">Contact Us</a>
                    </li>
                  </ul>
                </nav><!-- /.nav -->
              </div><!-- /.accordion__content -->
            </div><!-- /.accordion__body -->
          </div><!-- /.accordion__section -->

          <div class="accordion__section">
            <a href="#" class="accordion__head">
              <h5>How To Help</h5>
              <figure><img src="../assets/img/svg/ico-chevron.svg" alt="Icon"></figure>
            </a><!-- /.accordion__head -->
            
            <div class="accordion__head">
              <h5>How To Help</h5>
            </div><!-- /.accordion__head -->

            <div class="accordion__body">
              <div class="accordion__content">
                <nav class="nav nav--basic">
                  <ul>
                    <li>
                      <a href="#">COVID-19 Information</a>
                    </li>
                    <li>
                      <a href="#">Give</a>
                    </li>
                    <li>
                      <a href="#">Volunteer</a>
                    </li>
                    <li>
                      <a href="#">Clinical Trials and Research</a>
                    </li>
                    <li>
                      <a href="#">Support UT Health San Antonio</a>
                    </li>
                  </ul>
                </nav><!-- /.nav -->
              </div><!-- /.accordion__content -->
            </div><!-- /.accordion__body -->
          </div><!-- /.accordion__section -->
        </div><!-- /.accordion -->

        <div class="socials socials--menu menu__socials">
          <ul>
            <li>
              <a href="#"><img src="../assets/img/svg/social/facebook.svg" alt="Facebook"></a>
            </li>
            <li>
              <a href="#"><img src="../assets/img/svg/social/twitter.svg" alt="Twitter"></a>
            </li>
            <li>
              <a href="#"><img src="../assets/img/svg/social/instagram.svg" alt="Instagram"></a>
            </li>
            <li>
              <a href="#"><img src="../assets/img/svg/social/youtube.svg" alt="Youtube"></a>
            </li>
            <li>
              <a href="#"><img src="../assets/img/svg/social/linkedin.svg" alt="LinkedIn"></a>
            </li>
          </ul>
        </div><!-- /.socials -->
      </div><!-- /.menu__body -->

      <div class="menu__footer">
        <h6>WE MAKE LIVES BETTER®</h6>
        <div class="menu__entry">
          <p>The University of Texas Health Science Center at San Antonio, also called UT Health San Antonio, is a leading academic health center with a mission to make lives better through excellence in advanced academics, life-saving research and comprehensive clinical care including health, dental and cancer services.</p>
        </div><!-- /.menu__entry -->
      </div><!-- /.menu__footer -->
    </div><!-- /.menu__inner -->
  </div><!-- /.shell -->
</div><!-- /.menu -->