<section class="section-news">
  <div class="shell shell--alt grid-container">
    <div class="section__inner grid-x">
      <div class="section__head cell">
        <h6 data-aos="fade-up">NEWS</h6>
        <h3 data-aos="fade-up">Our Latest News</h3>
      </div><!-- /.section__head -->

      <div class="section__body cell">
        <div class="slider-news section__slider" data-aos="fade-up">          
          <div class="slider-news-slider js-slider-news">
            <div class="slider__slide">
              <article class="article-news">
                <a href="#" class="article__link"></a>
                <figure class="article__image"><img src="../assets/img/temp/news-image1.jpg" alt="Article image"></figure><!-- /.article__image -->
                <h5>Delta variant facts from UT Health San Antonio experts</h5>
                <span class="article__meta">August 10, 2021</span>
              </article><!-- /.article-news -->
            </div><!-- /.slider__slide -->

            <div class="slider__slide">
              <article class="article-news">
                <a href="#" class="article__link"></a>
                <figure class="article__image"><img src="../assets/img/temp/news-image2.jpg" alt="Article image"></figure><!-- /.article__image -->
                <h5>School of Health Professions: Helping people breathe, move, communicate and live better</h5>
                <span class="article__meta">July 9, 2021</span>
              </article><!-- /.article-news -->
            </div><!-- /.slider__slide -->

            <div class="slider__slide">
              <article class="article-news">
                <a href="#" class="article__link"></a>
                <figure class="article__image"><img src="../assets/img/temp/news-image3.jpg" alt="Article image"></figure><!-- /.article__image -->
                <h5>Partnership allows employees to support veterans through mentorship program</h5>
                <span class="article__meta">July 5, 2021</span>
              </article><!-- /.article-news -->
            </div><!-- /.slider__slide -->

            <div class="slider__slide">
              <article class="article-news">
                <a href="#" class="article__link"></a>
                <figure class="article__image"><img src="../assets/img/temp/news-image2.jpg" alt="Article image"></figure><!-- /.article__image -->
                <h5>UT Health San Antonio to provide student health services at UTSA</h5>
                <span class="article__meta">June 7, 2021</span>
              </article><!-- /.article-news -->
            </div><!-- /.slider__slide -->
          </div><!-- /.slider -->

          
        </div><!-- /.slider-news -->
      </div><!-- /.section__body -->

      <div class="section__actions cell" data-aos="fade-up">
        <a href="#" class="btn btn-rounded btn-rounded--outline">View All News</a>
      </div><!-- /.section__actions -->
    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-news -->