<section class="callout">
  <div class="shell shell--alt callout__shell grid-container">
    <figure class="callout__background"><img src="../assets/img/background-noise-orange.jpg" alt="Background"></figure><!-- /.callout__background -->

    <div class="callout__inner grid-x">
      <figure class="callout__image callout__image--link js-image cell large-6">
        <a class="js-popup-video popup callout__popup video-cursor-hover" href="https://www.youtube.com/watch?v=ScMzIvxBSi4">
          <img src="../assets/img/callout/callout-img-3.jpg" srcset="../assets/img/callout/callout-img-3.jpg, ../assets/img/callout/callout-img-3-2x.jpg 2x" alt="Image">
        </a>
      </figure><!-- /.callout__image -->

      <div class="callout__content cell large-6">
        <h2 class="eyebrow-sub" data-aos="fade-up">PATIENT CARE</h2>
              
        <div class="callout__heading marker-circle marker-circle--darkorange" data-aos="fade-up">
          <h3 class="heading-main">We make <br> lives better</h3>
          <figure class="section__heading-circle">
            @@include('./marker-circle.html')
          </figure><!-- /.callout__heading-figure -->
        </div><!-- /.callout__heading -->

        <div class="callout__entry" data-aos="fade-up">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div><!-- /.callout__entry -->

        <div class="callout__actions" data-aos="fade-up">
          <a href="#" class="btn btn-rounded btn-rounded--white callout__btn">View UT Health San Antonio Physicians</a>
          <a href="#" class="btn btn-rounded btn-rounded--white-outline callout__btn">Find Dental Care</a>
        </div><!-- /.callout__actions -->
      </div><!-- /.callout__content -->
    </div><!-- /.callout__inner -->
  </div><!-- /.shell -->
</section><!-- /.callout -->