<section class="callout callout--alt">
  <h6 class="callout__title">Primary Care</h6><!-- /.callout__title -->

  <div class="shell shell--alt callout__shell grid-container">
    <div class="callout__inner grid-x">
      <div class="callout__images cell large-6 medium-6">
        <figure class="callout__image js-image"><img src="../assets/img/callout/callout-img-2.jpg" srcset="../assets/img/callout/callout-img-2.jpg, ../assets/img/callout/callout-img-2-2x.jpg 2x" alt="Image"></figure><!-- /.callout__image -->
        <figure class="callout__image callout__image--person js-image"><img src="../assets/img/callout/callout-img-5.jpg" srcset="../assets/img/callout/callout-img-5.jpg, ../assets/img/callout/callout-img-5-2x.jpg 2x" alt="Image"></figure><!-- /.callout__image -->
      </div><!-- /.callout__images -->

      <div class="callout__content cell large-6 medium-6">
        <h2 class="eyebrow-sub" data-aos="fade-up">Care Spotlight</h2>

        <div class="callout__heading marker-line marker-line--orange" data-aos="fade-up"> 
          <h3 class="heading-main">Advancing <br> Patient Care</h3>
          <figure class="section__heading-line">
            @@include('./marker-line.html')
          </figure><!-- /.callout__heading-figure -->
        </div><!-- /.callout__heading -->

        <div class="callout__entry" data-aos="fade-up">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div><!-- /.callout__entry -->

        <div class="callout__actions" data-aos="fade-up">
          <a href="#" class="btn btn-rounded btn-rounded--orange callout__btn">Find a Primary Care Provider</a>
          <a href="#" class="btn btn-rounded btn-rounded--outline callout__btn">Find a Location</a>
        </div><!-- /.callout__actions -->
      </div><!-- /.callout__content -->
    </div><!-- /.callout__inner -->
  </div><!-- /.shell -->
</section><!-- /.callout -->