<section class="callout callout--reversed">
  <figure class="callout__background-element"><img src="../assets/img/svg/shield-light.svg" alt="Shield element"></figure><!-- /.callout__background-element -->

  <div class="shell shell--alt callout__shell grid-container">
    <div class="callout__inner grid-x">
      <figure class="callout__image cell large-6 medium-6 small-12"><img src="../assets/img/callout/callout-img-7.png" srcset="../assets/img/callout/callout-img-7.png, ../assets/img/callout/callout-img-7-2x.png 2x" alt="Image"></figure><!-- /.callout__image --> 

      <div class="callout__content cell large-6 medium-6 small-12">
        <h6 data-aos="fade-up">Patient Care</h6>

        <div class="callout__heading marker-circle marker-circle--beige" data-aos="fade-up">
          <h2>We make <br> lives better</h2>
          <figure class="section__heading-circle">
            @@include('./marker-circle.html')
          </figure><!-- /.callout__heading-figure -->
        </div><!-- /.callout__heading -->

        <div class="callout__entry" data-aos="fade-up">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div><!-- /.callout__entry -->

        <div class="callout__actions" data-aos="fade-up">
          <a href="#" class="btn btn-rounded btn-rounded--orange callout__btn">Call to Action</a>
          <a href="#" class="btn btn-rounded btn-rounded--outline callout__btn">Secondary CTA</a>
        </div><!-- /.callout__actions -->
      </div><!-- /.callout__content -->
    </div><!-- /.callout__inner -->
  </div><!-- /.shell -->
</section><!-- /.callout -->