<section class="callout--basic">
  <figure class="callout__element"><img src="../assets/img/svg/shield.svg" alt="UT Health Shield"></figure><!-- /.callout__element -->
  <div class="shell shell--alt grid-container">
    <div class="callout__inner grid-x">
      <div class="callout__entry cell large-8 medium-8 small-12" data-aos="fade-up">
        <p>Making lives better through excellence in advanced <a href="#">academics</a>, life-saving <a href="#">research</a> and comprehensive <a href="#">clinical care</a> including <a href="#">health</a>, <a href="#">dental</a> and <a href="#">cancer</a> services.</p>
      </div><!-- /.callout__entry -->

      <div class="callout__actions cell large-2 medium-4 small-12" data-aos="fade-up">
        <a href="#" class="btn btn-rounded btn-rounded--white">Find a Provider</a>
      </div><!-- /.callout__actions -->
    </div><!-- /.callout__inner -->
  </div><!-- /.shell -->
</section><!-- /.callout-basic -->