/** WP Overrides TO DSP SPECIFICALLY FOR WP. **/
/** Define Colors **/
$orange: #AD4200;
$dark-orange: #7A0F00;
$dark-beige: #EFE1CC;
$beige:#F0ECE2;
$light-beige:#F7F5F0;
$mobile: 600px; 

//Global Tweaks
.wpb_row {
    min-width: 100%;
}
//Search Bar Fixes
header#regular .search {
    min-width: 287px;
}
//Menu Fixes
// .nav-bar .top-bar .top-bar-left ul.desktop-menu li.current_page_item, .nav-bar .top-bar .top-bar-left ul.desktop-menu li.current-page-ancestor{
// 	background: $dark-orange !important;
// }
// @media only screen and (max-width: $mobile)  {
//     .desktop-menu, .site-navigation .top-bar-left {
//         display: block !important;
//     }
// }
//Submenu Fixes
nav#subnav ul .is-accordion-submenu {
    border-left: 0.25rem solid #FFBC5B;
    margin-top: 0.375rem;
    margin-bottom: 1.125rem;
	list-style-type:none;
}
nav#subnav ul.vertical.menu .is-accordion-submenu {
    margin-right: 0;
    margin-left: 1rem;
}
nav#subnav li.is-active.is-accordion-submenu-parent > a {
    background: none;
    color: black;
}
nav#subnav > ul.subnav > li.is-active > ul.submenu.is-active >  li.is-active.is-submenu-item a{
    color: white;
	background:#7A0F00 !important;
}
nav#subnav ul {
    margin-left: 0rem;
}
nav#subnav ul.accordion-menu li.menu-item{
    border-bottom: 0.0625rem #99A3A8 solid !important;
}
nav#subnav ul.accordion-menu li ul.is-accordion-submenu li{
    border-bottom: none !important;
}
/** Main Menu */
.nav-bar#new-full .top-bar .top-bar-left ul li.is-active a, .nav-bar#new-full .top-bar .top-bar-left ul li a:active{
    color: white !important;
  }
//Footer Fixes
footer a:visited:not(.button), footer a:focus {
    color: $beige !important;
}
footer[role=contentinfo]{
    //hide margin for mini orage footer info
	margin-top: 0rem !important;
}
// Sidebar Filter
@media only screen and (max-width: $mobile)  {
	.filters{
		display:none;
	}
		.filters.active{
		display: block;
	}
}
// Quick Compatability fixes for 10 Adams Designs. 
body.theme-tenadams .hero__secondary{min-height:600px;}
.chonky {
    padding-top: 25rem;
}
body.theme-tenadams a.button{
    font-size: 1.7rem !important;
}
body.theme-tenadams .card h5{
	font-size: 1.5em
}
body.page-template-hero-secondary.theme-tenadams nav.header__nav a{
    color: white !important;	
}
/** Card Fixes **/
.card {
    transition: .3s ease-in-out;
    box-shadow: 0.1875rem 0.1875rem 0.4375rem 0 rgba(23, 23, 23, 0.5);
	padding: 0 !important;
border-radius: 0.375rem !important;
border: 0;
position: relative;
color: #171717 !important;
}
.hidden{
	display:none;
}
div.form-group{
	padding-bottom:1.2em;
}
.stretch-image, picture.stretch-image img{
	min-width:100%
}
.card p.colorized .far.fa-circle, .card p.colorized .fa-stack.outline > .fa-stack-1x{
    color: green;
}
.page-content{
	min-width:100%
}
.image-spread{
	min-width:100%
}
nav .current_page_item{
	background:#7a0f00;
}
/** Locations Page **/
select#toolset-maps-distance{
	max-width:4em;
}
#toolset-maps-distance-center{
	width:100%;
}
.btn.js-toolset-maps-distance-current-location{
	display:none;
}
select option{
    color: #0a0a0a;
	background: #f1f5f7;
}
input.facetwp-autocomplete-update{
	display:none;
}
.facetwp-checkbox{
	font-weight: 600;
}
.breadcrumbs{
    margin: 0em auto -1.875rem auto !important;
    padding-left: 0px;
}
main.grid-container{
    padding-bottom: 0em !important;
}
/** Fix css image links **/
input[type="checkbox"]:checked {
    background: url("../assets/images/core/check-solid.svg");
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.125rem;
}

/** END OVER RIDES TO DSP SPECIFICALLY FOR WP. **/
