.hero__subheading, .hero__heading, .hero__image {
  animation: fadeUp .5s linear forwards;
}

.hero__entry, .hero__actions {
  opacity: 0;
  animation: fadeUp .5s 6.5s linear forwards;
}

.hero__heading {
  position: relative;
  opacity: 0;
  animation: fadeUp .5s .5s linear forwards;
  
  .placeholder {
    opacity: 0;
  }
  
  .intro {
    &> span {
      position: absolute;
      top: 0;
      
      &> span {
        display: block;
        color: $c-offblack;
        opacity: 0;
        animation: slideUpOut 1.5s 1s linear forwards;
      }
      
      &:nth-child(2) {
        &> span {
          animation-delay: 2.5s;
        }
      }
      
      &:nth-child(3) {
        &> span {
          animation-delay: 4s;
        }
      }
      
      &:last-of-type {
        opacity: 0;
        animation: fadeIn .3s 5.5s linear forwards;
        
        &> span {
          color: $c-orange;
          animation: slideUp 2s 5.5s linear forwards;
        }
      }
    }
    
    .line-path {
      stroke-dasharray: 600;
      stroke-dashoffset: 00;
      stroke-width: 40;
      animation: linePath .4s 5.5s linear forwards;
    }

    .line-path-2 {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      stroke-width: 40;
      animation: linePath2 .2s 6s linear forwards;
    }
  }
}

@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(4rem); }    
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  0% { opacity: 0; } 
  100% { opacity: 1; }
}

@keyframes slideUpOut {
  0% { opacity: 0; transform: translateY(4rem); } 
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-1rem); }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(4rem); } 
  20% { opacity: 1; transform: translateY(0); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes linePath {
	0% {
		stroke-dashoffset: 600;
	}    
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes linePath2 {
	0% {
		stroke-dashoffset: 300;
	}    
	100% {
		stroke-dashoffset: 600;
	}
}