//Variables
$font-size-base             : 1.8rem;
$font-weight-base           : 400;
$line-height-base           : 1.2;

$ff-sans-serif              : 'DM Sans', sans-serif;
$ff-serif                   : Georgia, "Times New Roman", Times, serif;

$t-duration                 : 0.4s;

$shell-max-width            : 114rem;
$shell-gutter               : 1.5rem;

$c-black                    : #000;
$c-white                    : #fff;
$c-base                     : #055590;
$c-orange                   : #C0511B;
$c-orangeclient             : #AD4200;
$c-darkorange               : #7A0F00;
$c-extradarkbeige           : #635853;
$c-mediumdarkbeige          : #D4CEC4;
$c-darkbeige                : #EFE1CC;
$c-beige                    : #F0ECE2;
$c-lightbeige               : #F7F5F0;
$c-extralightbeige          : #FBF9F7;
$c-darkgrey                 : #333D42;
$c-grey                     : #667075;
$c-lightgrey                : #E0E5E6;
$c-blue                     : #27829E;
$c-tangerine                : #D45D00;
$c-gold                     : #FFBC5B;
$c-offblack                 : #171717;
$c-offwhite                 : #F1F5F7;

$responsive-ios             : 812px;

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	admin-bar: 782px,
	tablet-custom: 899px,
	tablet: 1023px,
	custom-desktop: 1151px,
	small-desktop: 1199px,
	large-desktop: 1399px,
	xlarge-desktop: 1599px,
	xlarge-desktop-alt: 1699px,
	xxlarge-desktop: 1999px
);
